.container-fluid {
    padding: 0px;
    font-size: 14px;
}

.container-fluid .row:nth-child(1) {
    border-bottom: 1px solid #d7d7d7;
}


/* estilos para el contenedor de la cantidad de resultados y  el boton de borrar filtros */

.resultados {
    padding: 2px 5px;
    display: flex;
    flex-direction: row;
    height: max-content;
    align-items: center;
}


/* estilos para el span que muestra la cantidad de resultados  */

.resultados .cant {
    font-size: 14px;
}


/* estilos para el boton de borrar filtros */

.borrar_filtros {
    color: #ff0000;
    display: flex;
    align-items: center;
    margin-left: 8px;
    padding-left: 4px;
    border-left: 1px solid #555555;
    text-decoration: none;
}


/* estilos para el texto del boton borrar filtros */

.borrar_filtros .borrar {
    text-decoration: underline;
}


/* estilo para el icono del boton borrar filtros  */

.borrar_filtros .material-icons {
    color: #ff0000;
    font-size: 20px;
}


/* estilo para el contenedor de los filtros aplicados */

.filtros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
}


/* estilo para el contenedor del filtro */

.filtros .filtro {
    display: flex;
    align-items: center;
    width: max-content;
    height: max-content;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    background: #eeeeee;
    padding-left: 4px;
    margin: 3px;
}


/* estilo para el nombre del filtro */

.filtro .nombre {
    line-height: 14px;
}


/* estilo para el boton de eliminar filtro */

.filtro .cerrar {
    max-height: 18px;
}


/* estilo para el icono del boton eliminar filtro */

.filtro .material-icons {
    color: #555555;
    font-size: 18px;
}


/* estilos para la seccion de ordenar los resultados */

.ordenar {
    display: flex;
    justify-content: space-between;
    padding: 8px 0px;
}


/* estilos para el contenedor de las opciones de columnas */

.columnas {
    padding: 0px 5px;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.nav li:nth-child(1) {
    display: none;
}


/* estilos para las opciones de columnas */

.nav-link {
    display: flex;
    flex-direction: row;
    margin: 0px 5px;
    padding: 0px 1px;
    cursor: pointer;
}


/* estilo para los iconos dentro que cada opcion de columnas */

.nav-link .cols {
    margin: 0px 1px;
    height: 15px;
    width: 7px;
    background: #555555;
    transition: all .3s ease;
}


/* estilo para la opcion de columnas seleccionadas */

.nav-link.active .cols {
    background: #ff0000;
}


/* estilos para el contenedor de la vista de los productos */

.vista {
    display: flex;
    align-items: center;
    padding: 0px 5px;
}

.nav-link .icon-shirt {
    width: 24px;
    height: 24px;
    filter: grayscale(1);
}

.nav-link .icon {
    color: #555555;
}

.nav-link.active .icon-shirt {
    filter: none;
}

.nav-link.active .icon {
    color: #ff0000;
}


/* estilo para el contenedor del selector de ordenamiento */

.select {
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 0px 5px;
}


/* estilo del selector de ordenamiento */

.select .custom-select {
    width: fit-content;
    height: fit-content;
    padding: 5px 28px 5px 10px;
    font-size: 13px;
    line-height: 15px;
    border-radius: 8px;
    border: 2px solid #c8c8c8;
}


/* estilos para la version movil del componente */

@media screen and (max-width: 960px) {
    /* estilo para el contenedor de la cantidad de resultados y el boton de borrar filtros */
    .resultados {
        flex: 0 0 100%;
        width: 100%;
        justify-content: space-between;
    }
    /* estilo para el boton de borrar filtros */
    .resultados .borrar_filtros {
        border-left: none;
    }
    /* estilos para el contenedor de los filtros aplicados */
    .filtros {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    /* estilos para el scroll personalizado del contenedor de los filtros */
    .filtros::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    .filtros::-webkit-scrollbar:horizontal {
        height: 0px;
    }
    .ordenar .columnas {
        order: 2;
    }
    .nav li:nth-child(1) {
        display: block;
    }
    .nav li:nth-child(3),
    .nav li:nth-child(4),
    .nav li:nth-child(5) {
        display: none;
    }
    .columnas span {
        display: none;
    }
    .ordenar .vista {
        order: 1;
    }
    .ordenar .select {
        order: 3;
    }
    .columnas,
    .vista,
    .select {
        padding: 0px 2px;
    }
}

@media screen and (max-width: 400px) {
    .vista .texto {
        display: none;
    }
}