/* estilos contenedor del componente */

.container-fluid {
    display: flex;
    height: 100%;
    flex-direction: row;
    background: linear-gradient(to right, #ffffff, #d7d7d7);
    padding: 15px;
}


/* estilos para el contenedor de los botones de las vistas */

.vistas {
    display: flex;
    flex-direction: column;
    padding: 40px 0 0 0;
    width: auto;
}


/* estilos para el borde inferior del botón de la vista */

.vistas .borde {
    width: 100%;
    border: 1px solid transparent;
}


/* estilos para el borde inferior al botón de la vista seleccionada */

.vistas .borde.red {
    border-color: #ff0000;
}


/* estilos para los botones de las vistas */

.vistas button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 80px;
    padding: 0;
    background: none;
    border: 1px solid #d7d7d7;
    margin: 5px 0 1px 0;
    outline: none;
}


/* estilos para el botón de la vista seleccionada */

.vistas button.selected {
    background: #d7d7d7;
}


/* estilos para la imagen de los botones de vistas */

.vistas img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}


/* estilos para el contenedor de la imagen */

.imagen {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-right: 40px;
    padding-left: 30px;
}


/* Estilos para la imagen */

.imagen img {
    width: auto;
    max-width: 100%;
    height: auto;
}


/* Estilos para versión móvil */

@media screen and (max-width: 960px) {
    /* estilos contenedor del componente */
    .container-fluid {
        display: flex;
        height: auto;
        flex-direction: row;
        background: none;
        padding: 0px;
    }
    /* estilos para el contenedor del carrusel de la imagen del producto */
    .carousel {
        width: 100%;
        height: 60vh;
    }
    /* estilos para el contenedor de las imagenes del carrusel */
    .carousel-inner {
        height: 100%;
    }
    /* estilos para el contenedor de la imagen */
    .carousel-item {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 10px;
        background: #d7d7d7;
    }
    /* estilos para el contenedor de la imagen visible */
    .carousel-item.active {
        display: flex;
    }
    /* estilos para la imagen */
    .carousel-item img {
        margin: auto;
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
    }
    /* estilos para los indicadores de la imagen */
    .carousel-indicators li {
        width: 8px;
        height: 8px;
        margin-left: 5px;
        margin-right: 5px;
        border: 1px solid #000000;
        opacity: .7;
        border-radius: 100%;
    }
    /* estilos para el indicador de la imagen actual */
    .carousel-indicators li.active {
        background: #ff0000;
        border-color: #ff0000;
    }
}