/* estilos para el titulo, visible cuando no hay filtros aplicados */

.titulo {
    padding: 0px 10px;
    color: #555555;
}


/* estilos para el contenedor de la coleccion */

.coleccion {
    padding: 0px;
    height: 110px;
    border: 5px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* estilos para los iconos de de las colecciones */

.coleccion .material-icons-outlined {
    position: absolute;
    font-size: 95px;
    color: #000000;
}


/* estilos para el nombre de la coleccion */

.texto {
    position: absolute;
    z-index: 2;
    background: #00000098;
    padding: 0px 10px;
    color: #ffffff;
}


/* estilos del contenedor de los filtros aplicados y las etiquetas de los diseños */

.contenedor {
    background: #eeeeee;
    font-size: 13px;
    padding: 5px;
    width: 100%;
}


/* estilos para el contenedor de la cantidad de resultados y  el boton de borrar filtros */

.contenedor .resultados {
    padding: 5px;
    display: flex;
    flex-direction: row;
    width: auto;
    height: max-content;
    align-items: center;
}


/* estilos para el span que muestra la cantidad de resultados  */

.resultados .cant {
    font-size: 14px;
}


/* estilos para el boton de borrar filtros */

.borrar_filtros {
    color: #000000;
    display: flex;
    align-items: center;
    margin-left: 8px;
    padding-left: 4px;
    border-left: 1px solid #555555;
    text-decoration: none;
}


/* estilos para el texto del boton borrar filtros */

.borrar_filtros .borrar {
    text-decoration: underline;
}


/* estilo para el icono del boton borrar filtros  */

.borrar_filtros .material-icons {
    color: #555555;
    font-size: 20px;
}


/* estilo para el contenedor de los filtros aplicados */

.contenedor .filtros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
}


/* estilo para el contenedor del filtro */

.filtros .filtro {
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    background: #ffffff;
    padding-left: 4px;
    margin: 3px;
}


/* estilo para el nombre del filtro */

.filtro .nombre {
    line-height: 14px;
}


/* estilo para el boton de eliminar filtro */

.filtro .delete {
    max-height: 18px;
}


/* estilo para el icono del boton eliminar filtro */

.filtro .material-icons {
    color: #555555;
    font-size: 18px;
}


/* estilo del contenedor de las seccion de etiquetas */

.etiquetas {
    padding: 0px 5px;
}


/* estilo para el contenedor del titulo de las etiquetas */

.tags {
    padding: 0px;
}


/* estilo para el contenedor de las etiquetas */

.col.tags {
    flex-wrap: wrap;
}


/* estilos para cada etiqueta */

.tag {
    color: #000000;
    background: #ffffff;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    padding: 0px 3px;
    margin: 2px;
    text-decoration: none;
}


/* estilos para la seccion de ordenar los resultados */

.ordenar {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid #c8c8c8;
}


/* estilos para el contenedor de las opciones de columnas */

.columnas {
    padding: 0px 5px;
    font-size: 13px;
    display: flex;
    align-items: center;
}


/* estilo para el primera opcion de columnas, deshabilitada en version web  */

.columnas .nav li:nth-child(1) {
    display: none;
}


/* estilos para las opciones de columnas */

.nav-link {
    display: flex;
    flex-direction: row;
    margin: 0px 5px;
    padding: 0px 1px;
}


/* estilo para los iconos dentro que cada opcion de columnas */

.nav-link .cols {
    margin: 0px 1px;
    height: 15px;
    width: 7px;
    background: #d7d7d7;
}


/* estilo para la opcion de columnas seleccionadas */

.nav-link.active .cols {
    background: #ff0000;
}


/* estilo para el contenedor del selector de ordenamiento */

.select {
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 0px 5px;
}


/* estilo del selector de ordenamiento */

.select .custom-select {
    width: fit-content;
    height: fit-content;
    padding: 5px 28px 5px 10px;
    font-size: 13px;
    line-height: 15px;
    border-radius: 8px;
    border: 2px solid #c8c8c8;
}


/* estilos para el contenedor del componente de los resultados de diseños */

#content {
    width: 100%;
    margin-top: 5px;
}


/* estilos para la version movil del componente */

@media screen and (max-width: 960px) {
    /* estilo para el contenedor de la cantidad de resultados y el boton de borrar filtros */
    .contenedor .resultados {
        flex: 0 0 100%;
        width: 100%;
        justify-content: space-between;
    }
    /* estilo para el boton de borrar filtros */
    .resultados .borrar_filtros {
        border-left: none;
    }
    /* estilos para el contenedor de los filtros aplicados */
    .contenedor .filtros {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .contenedor .filtros::-webkit-scrollbar {
        -webkit-appearance: none;
        appearance: none;
    }
    /* estilo para el contenedor de las etiquetas */
    .etiquetas {
        display: none;
    }
    /* estilo para la primera opcion de columnas disponibles */
    .columnas .nav li:nth-child(1) {
        display: block;
    }
    /* ocultar las tres ultimas opciones de columnas */
    .columnas .nav li:nth-child(3),
    .columnas .nav li:nth-child(4),
    .columnas .nav li:nth-child(5) {
        display: none;
    }
}