.titulo {
    padding: 0px 10px;
    color: #555555;
}

.col {
    padding: 0px;
    height: 110px;
    border: 5px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-icons-outlined {
    position: absolute;
    font-size: 95px;
    color: #000000;
}

.texto {
    position: absolute;
    z-index: 2;
    background: #00000098;
    padding: 0px 10px;
    color: #ffffff;
}