<div class="card mx-1">
    <!-- contenedor de la imagen del producto -->
    <a [routerLink]="['/store/product']" class="img" [ngStyle]="{height: height}">
        <!-- etiqueta de descuento -->
        <span class="descuento"></span>
        <span class="porcentaje">-50%</span>
        <!-- estrella de etiqueta de producto nuevo -->
        <svg class="estrella" xmlns="http://www.w3.org/2000/svg" width="40" height="34" viewBox="0 0 40 34" fill="none">
            <path d="M20 0.742722L23.6109 4.70905L23.8332 4.95319L24.145 4.84467L29.6005 2.94603L30.3816 7.83488L30.4414 8.20922L30.818 8.25269L36.5651 8.91612L34.4055 13.3995L34.2156 13.7937L34.5812 14.0342L39.0901 17L34.5812 19.9658L34.2156 20.2063L34.4055 20.6005L36.5651 25.0839L30.818 25.7473L30.4414 25.7908L30.3816 26.1651L29.6005 31.054L24.145 29.1553L23.8332 29.0468L23.6109 29.2909L20 33.2573L16.3891 29.2909L16.1668 29.0468L15.855 29.1553L10.3995 31.054L9.61844 26.1651L9.55863 25.7908L9.18203 25.7473L3.43492 25.0839L5.59452 20.6005L5.78443 20.2063L5.41883 19.9658L0.909857 17L5.41883 14.0342L5.78443 13.7937L5.59452 13.3995L3.43492 8.91612L9.18203 8.25269L9.55863 8.20922L9.61844 7.83488L10.3995 2.94603L15.855 4.84467L16.1668 4.95319L16.3891 4.70905L20 0.742722Z" fill="#333333" stroke="#FFFFFF"/>
        </svg>
        <span class="new notranslate">new</span>
        <!-- imagen imagen del producto -->
        <img [src]="url" class="card-img-top" alt="" [ngStyle]="{'display': view=='diseño' ? 'none' : 'block'}">
        <img src="assets/img/2.png" class="card-img-top" alt="" [ngStyle]="{'display': view=='producto' ? 'none' : 'block'}">
        <!-- contenedor de los botones del producto -->
        <div class="opciones">
            <!-- boton de añadir al carrito -->
            <a class="opcion carrito" href="#">
                <span class="material-icons-outlined notranslate">shopping_cart</span>
            </a>
            <!-- boton de compartir -->
            <a class="opcion" href="#">
                <span class="material-icons-outlined notranslate">share</span>
            </a>
            <!-- boton de agregar a favoritos -->
            <a class="opcion" href="#">
                <span class="material-icons-outlined notranslate">favorite_border</span>
            </a>
            <!-- boton de editar el producto -->
            <a class="opcion" href="#">
                <span class="material-icons-outlined notranslate">create</span>
            </a>
        </div>

    </a>
    <!-- contenedor del cuerpo de la tarjeta -->
    <div class="card-body">
        <!-- fila contenedora de los colores del producto -->
        <div class="row contenedor">
            <!-- contenedor de los colores cuando son 8 o menos -->
            <div class="col-auto colores">
                <div *ngFor="let color of colors1" [style.background]="color" class="color"></div>
                <button *ngIf="colors.length > 5" [routerLink]="['/store/product']" class="color mas">{{cant}}</button>
            </div>

        </div>
        <!-- contenedor de las tallas del producto -->
        <div class="row tallas">
            <!-- contenedor de la talla -->
            <div *ngFor="let talla of sizes" class="col talla">
                <a href="#" [class.disabled]="!available[(sizes.indexOf(talla))]">{{talla}}</a>
            </div>
        </div>
        <!-- nombre del producto -->
        <p [routerLink]="['/store/product']" class="card-text nombre">Nombre del producto "camiseta personalizada"</p>
        <!-- coleccion a la que pertenece el producto -->
        <p class="card-text coleccion">Coleccion del producto</p>
        <!-- valor del producto con descuento -->
        <p class="card-text precio">$30.000 <small>$49.900</small></p>
    </div>
</div>