<div class="container-fluid">
    <div class="row banner">
        <img src="assets/img/BannerHombres.png" alt="">
    </div>
    <div class="contain">
        <div class="contenedor">
            <div class="head">
                <h1 class="title">Hombres</h1>
                <p class="text">Encuentra los mejores diseños para hombres en camisetas, hoddies y mucho más.</p>
            </div>
            <div class="articles">
                <button class="btn-articles">
                    <span class="text">Ver artículos</span>
                    <span class="material-icons notranslate">
                        keyboard_arrow_down
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>