<div class="container-fluid">
    <!-- Contenedor de la imagen del banner -->
    <div class="row banner">
        <img [src]="url" alt="">
    </div>
    <!-- contenedor del los textos del banner -->
    <div class="contain">
        <!-- contenedor del titulo y el texto del banner -->
        <div class="contenedor">
            <!-- contenedor centrado de los textos -->
            <div class="head">
                <h1 class="title">{{categori.charAt(0).toUpperCase() + categori.slice(1)}}</h1>
                <p class="text">{{text}}</p>
            </div>
            <!-- <div class="articles">
                <button class="btn-articles">
                    <span class="text">Ver artículos</span>
                    <span class="material-icons notranslate">
                        keyboard_arrow_down
                    </span>
                </button>
            </div> -->
        </div>
    </div>
</div>