.banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 256px;
    overflow: hidden;
}

.banner img {
    width: auto;
    /* max-width: 100%; */
    height: auto;
    max-height: 100%;
}

.contain {
    position: relative;
    margin: -256px -15px 0 -15px;
    height: 256px;
    display: flex;
    align-items: center;
}

.contain .contenedor {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: center;
    height: 190px;
    width: 50%;
    background: #ffffffb6;
    border-radius: 0px 12px 12px 0;
    padding: 10px 15px;
}

.contenedor .head {
    padding: 0px 60px 0px 40px;
}

.head .title {
    font-size: 40px;
    font-weight: bold;
}

.head .text {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
}


/* .contenedor .articles {
    display: flex;
    justify-content: flex-end;
}

.articles .btn-articles {
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #555555;
    background: none;
    outline: none;
}

.btn-articles .text {
    padding: 2px 6px;
}

.btn-articles .material-icons {
    color: #ff0000;
} */


/* estilos para versón móvil */

@media screen and (max-width: 830px) {
    .banner {
        justify-content: center;
        height: 124px;
    }
    .banner img {
        width: auto;
        /* max-width: 100%; */
        height: auto;
        max-height: 100%;
    }
    .contain {
        position: initial;
        margin: 0;
        height: fit-content;
        display: block;
    }
    .contain .contenedor {
        width: 100%;
        padding: 0;
        height: fit-content;
    }
    .contenedor .head {
        padding: 15px 0;
    }
    .head .title {
        text-align: center;
        font-size: 32px;
        margin-bottom: 0;
    }
    .head .text {
        text-align: center;
        font-size: 16px;
        line-height: 17px;
    }
    .contenedor .articles {
        display: none;
    }
}