/* estilos para el contenedor de la modal de guía de tallas */

::ng-deep.modal-size .modal-dialog {
    max-width: 90% !important;
    max-height: 90vh !important;
    margin: 5vh auto !important;
}


/* estilos para el contenido de la modal */

::ng-deep.modal-size .modal-dialog .modal-content {
    border-radius: 8px;
    height: 90vh;
}


/* estilos para el encabezado de la modal */

.modal-header {
    padding: 3px 5px 3px 20px;
    justify-content: start;
    align-items: center;
    background: #d7d7d7;
    border-radius: 8px 8px 0px 0px;
}


/* estilos para el icono del encabezado */

.modal-header .material-icons-outlined {
    font-size: 28px;
}


/* estilos para el titulo de la modal */

.modal-header .title {
    font-size: 18px;
    margin-bottom: 0;
    margin-left: 20px;
    line-height: 30px;
}


/* estilos para el subtitulo de la modal */

.modal-header .subtitle {
    font-size: 18px;
    margin-bottom: 0;
    margin-left: 5px;
    font-weight: normal;
    line-height: 30px;
}


/* estilos para el botón de cerrar la modal */

.modal-header .cerrar {
    padding: 5px;
    margin-left: auto;
    border: none;
    background: none;
    display: flex;
    outline: none;
}


/* estilos para el icono del botón de cerrar */

.modal-header .cerrar span {
    font-size: 20px;
}


/* estilos para el cuerpo de la modal */

.modal-body {
    padding: 0;
    height: 100%;
    overflow-y: auto;
}


/* estilos para el scroll personalizado */

.modal-body::-webkit-scrollbar {
    -webkit-appearance: none;
}

.modal-body::-webkit-scrollbar:vertical {
    width: 6px;
}

.modal-body::-webkit-scrollbar-button:increment,
.modal-body::-webkit-scrollbar-button {
    display: none;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 20px;
}

.modal-body::-webkit-scrollbar-track {
    background-color: #d7d7d7;
    border-radius: 10px;
}


/* estilos para versión móvil */

@media screen and (max-width: 960px) {
    /* estilos para el contenedor de la modal */
     ::ng-deep.modal-size .modal-dialog {
        max-width: 100vh !important;
        max-height: 80vh !important;
        margin: 20vh 0 0 0 !important;
    }
    /* estilos para el contenido de la modal */
     ::ng-deep.modal-size .modal-dialog .modal-content {
        border-radius: 8px 8px 0px 0px;
        height: 80vh;
    }
    /* estilos para el encabezado de la modal */
    .modal-header {
        padding: 1px 10px;
        justify-content: start;
        align-items: center;
        background: #d7d7d7;
        border-radius: 8px 8px 0px 0px;
    }
    /* estilos para el titulo de la modal */
    .modal-header .title {
        margin-left: 5px;
    }
    /* estilos para el icono del botón de cerrar */
    .modal-header .cerrar span {
        font-size: 24px;
    }
}