<div class="container-fluid">
    <div class="design">
        <div class="head" (click)="designOpen=!designOpen">
            <p class="title">Acerca del diseño</p>
            <span class="material-icons notranslate" [ngClass]="{'rot': designOpen}">expand_less</span>
        </div>
        <div class="body" [ngClass]="{'show': designOpen}">
            <div *ngFor="let item of design" class="info">
                <span class="title">{{item.name}}</span>
                <span class="text">{{item.attr}}</span>
            </div>
        </div>
    </div>
    <div class="product" (click)="productOpen=!productOpen">
        <div class="head">
            <p class="title">Acerca del producto</p>
            <span class="material-icons notranslate" [ngClass]="{'rot': productOpen}">expand_less</span>
        </div>
        <div class="body" [ngClass]="{'show': productOpen}">
            <div *ngFor="let item of product" class="info">
                <span class="title">{{item.name}}</span>
                <span class="text">{{item.attr}}</span>
            </div>
        </div>
    </div>
</div>