.container-fluid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0px;
}

.contenedor {
    width: 20%;
    height: auto;
    padding: 3px;
}

.card {
    width: 100%;
    border: none;
    height: 100%;
}

.card .img {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d7d7d7;
    height: calc(100% - 2px);
    /* max-height: 100px; */
}

.card .img img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

.card-body {
    padding: 0px;
    background: #c8c8c8;
}

.detalles .precio {
    font-size: 13px;
}

.detalle {
    align-items: center;
    justify-content: space-between;
}

.col-nombre {
    max-width: calc(100% - 54px);
    height: fit-content;
}

.nombre {
    font-size: 13px;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}