.container-fluid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0px;
}


/* estilos del contenedor del producto */

.contenedor {
    height: max-content;
    padding: 3px;
}


/* estilos de la terjeta de producto */

.card {
    width: 100%;
    border: none;
    height: 100%;
}


/* estilos del contenedor de la imagen del producto */

.card .img {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eeeeee;
}


/* estilos del efecto hover sobre la imagen del producto */

.card .img:hover {
    background: #d7d7d7;
}


/* estilos de la imagen del producto */

.card .img img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}


/* estilos del contenedor de los botones del producto en version web */

.img .info {
    display: none;
    font-size: 11px;
    position: absolute;
    width: 100%;
    z-index: 2;
    bottom: 0;
    margin-bottom: 24px;
    padding: 2px;
    background: #ffffff94;
    transition: all .3s ease;
}


/* estilos del contenedor de los botones cuando ocurre el evento hover sobre el contenedor de la imagen */

.img:hover .info {
    display: block;
}


/* estilos para el contenedor */

.info .botones {
    padding: 4px 1px;
    display: flex;
    justify-content: center;
}


/* estilos para los botones de seleccionar y ver detalles */

.botones button {
    padding: 2px 4px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    outline: none;
    color: #ffffff;
}


/* estilos para el boton de seleccionar  */

.botones .seleccionar {
    background: #ff0000;
}


/* estilos para el boton de ver detalles */

.botones .verDetalle {
    background: #303030;
}


/* estilos del contenedor del cuerpo de la tarjeta */

.card-body {
    padding: 0px;
    background: #c8c8c8;
    height: max-content;
}


/* estilos del contenedor de la informacion del producto */

.detalle {
    align-items: center;
    justify-content: space-between;
}


/* estilos del contenedor del nombre del producto */

.col-nombre {
    max-width: calc(100% - 66px);
    height: fit-content;
}


/* estilos para el nombre del diseño */

.nombre {
    font-size: 13px;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/* estilos para el precio del producto */

.detalles .precio {
    font-size: 13px;
}


/* estilos para la version movil */

@media screen and (max-width: 960px) {
    /* estilos para los detalles del diseño en version web; el contenedor desaparece para la version  */
    .img:hover .info {
        display: none;
    }
    /* estilos del efecto hover sobre la imagen del producto */
    .card .img:hover {
        background: #eeeeee;
    }
    /* estilos para el contenedor del componente de los detalles del producto */
    .card .informacion {
        height: 15px;
    }
}