.carousel {
    margin: 10px 60px;
}

.carousel .slide {
    outline: none;
}

::ng-deep .slick-prev:before {
    content: "<";
}

::ng-deep .slick-next:before {
    content: ">";
}

::ng-deep .slick-prev:before,
::ng-deep .slick-next:before {
    font-size: 27px;
    line-height: 19px;
    font-weight: bold;
    font-family: monospace;
    color: #ff0000;
    background-color: #eeeeee;
    border-radius: 3px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
}

::ng-deep .slick-prev:hover,
::ng-deep .slick-next:hover {
    opacity: 0.75;
}

.estilos {
    max-width: 100%;
    font-size: 14px;
    padding: 3px 15px;
    text-align: center;
    background: #ffffff;
    border: 1px solid #d7d7d7;
    color: #555555;
    border-radius: 4px;
    outline: none;
}

@media screen and (max-width: 960px) {
    .carousel {
        margin: 10px 0px;
    }
}