/* estilos para el contenedor del carrusel */

.carousel {
    margin: 10px 60px;
}


/* estilos para el ítem del carrusel */

.carousel .slide {
    outline: none;
}


/* Contenido para el botón anterior */

::ng-deep .slick-prev:before {
    content: "<";
}


/* Contenido para el botón siguiente */

::ng-deep .slick-next:before {
    content: ">";
}


/* estilos para los botones de siguiente y anterior */

::ng-deep .slick-prev:before,
::ng-deep .slick-next:before {
    font-size: 27px;
    line-height: 19px;
    font-weight: bold;
    font-family: monospace;
    color: #ff0000;
    background-color: #eeeeee;
    border-radius: 3px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
}


/* estilos para el efecto hover de los botones siguiente y anterior */

::ng-deep .slick-prev:hover,
::ng-deep .slick-next:hover {
    opacity: 0.75;
}


/* estilos para los botones de los estilos del producto */

.estilos {
    width: 100%;
    font-size: 14px;
    margin: 0px 8px;
    padding: 5px 15px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background: #eeeeee;
    border: 1px solid #d7d7d7;
    color: #555555;
    border-radius: 4px;
    outline: none;
}


/* estilos para versión móvil */

@media screen and (max-width: 960px) {
    /* estilos para el Contenedor del carrusel de los estilos del producto */
    .carousel {
        margin: 10px 0px;
    }
}