.fondo {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 6;
    background: #000000b0;
    transform: translateX(-100%);
    transition: all .3s ease;
}

.contenedor {
    width: 100%;
}

.contenedor .cerrar {
    display: none;
    justify-content: space-between;
    align-items: center;
}

.cerrar .titulo {
    color: #555555;
    text-transform: uppercase;
    font-weight: bold;
}

.cerrar .btn-cerrar {
    padding: 4px;
    height: 38px;
    background: #ffffff;
    border: none;
}

.btn-cerrar span {
    font-size: 30px;
    color: #555555;
}

@media screen and (max-width: 960px) {
    .fondo {
        display: block;
    }
    .contenedor {
        position: fixed;
        z-index: 8;
        top: 0;
        left: 0;
        width: 270px;
        height: 100vh;
        overflow-y: auto;
        padding: 0px 15px 15px 15px;
        background: #ffffff;
        transform: translateX(-100%);
        transition: all .3s ease;
    }
    .contenedor .cerrar {
        display: flex;
    }
    .contenedor.active,
    .fondo.active {
        transform: translateX(0%);
    }
}