.fondo {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 6;
    background: #000000b0;
    transform: translateX(-100%);
    transition: all .3s ease;
}

.contenedor {
    width: 100%;
}

.contenedor .cerrar {
    display: none;
    justify-content: space-between;
    align-items: center;
}

.cerrar .titulo {
    color: #555555;
    text-transform: uppercase;
    font-weight: bold;
}

.cerrar .btn-cerrar {
    padding: 4px;
    height: 38px;
    background: #ffffff;
    border: none;
}

.btn-cerrar span {
    font-size: 30px;
    color: #555555;
}


/* estilos para el contenedor del boton para aplicar filtros */

.aplicar {
    margin: 0px;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}

.aplicar.show {
    position: sticky;
    bottom: 0;
    z-index: 5;
    background: #ffffff;
    box-shadow: 0px -4px 3px -2px #b6b6b6;
}


/* estilos para el boton de aplicar filtros */

.btn-aplicar {
    width: 80%;
    background: #ff0000;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    outline: none;
}

@media screen and (max-width: 960px) {
    .fondo {
        display: block;
    }
    .contenedor {
        position: fixed;
        z-index: 8;
        top: 0;
        left: 0;
        width: 280px;
        height: 100vh;
        padding: 0px 15px 15px 15px;
        background: #ffffff;
        transform: translateX(-100%);
        transition: all .3s ease;
    }
    .contenedor .cerrar {
        display: flex;
    }
    .contenedor.active,
    .fondo.active {
        transform: translateX(0%);
    }
    .elemento {
        max-height: calc(100vh - 93px);
        overflow-y: auto;
    }
}