<div class="container-fdm">
    <!-- contenedor del banner superior -->
    <div class="row banner">
        <app-banner-top class="component" [url]="banner" [categori]="categori" [text]="text"></app-banner-top>
    </div>
    <div class="options">
        <!-- contenedor de la opción para ella -->
        <div class="option1">
            <!-- contenedor de la imagen -->
            <div class="image">
                <img src="assets/img/gifts/deportivo.png" alt="">
            </div>
            <!-- contenedor del texto -->
            <div class="label">
                <span>Para tu equipo deportivo</span>
            </div>
        </div>

        <!-- contenedor de la opción para ella -->
        <div class="option2">
            <!-- contenedor de la imagen -->
            <div class="image">
                <img src="assets/img/gifts/trabajo.png" alt="">
            </div>
            <!-- contenedor del texto -->
            <div class="label">
                <span>Para tu equipo de trabajo</span>
            </div>
        </div>

    </div>



    <!-- contenedor del banner de diseño -->
    <!-- <div class="row banner-design">
        <app-banner-design class="component"></app-banner-design>
    </div> -->
    <!-- contenedor de más regalos -->
    <div class="row more">
        <app-more-gifts class="component"></app-more-gifts>
    </div>



    <div class="row footer">
        <app-footer class="component"></app-footer>
    </div>
</div>