.container-fluid {
    padding: 10px 0;
}

.iconos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.iconos .icon-w,
.iconos .icon-b {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 34px;
    min-width: 34px;
    height: 34px;
    min-height: 34px;
    margin-right: 8px;
    text-decoration: none;
}

.iconos .icon-b:hover {
    background-color: #ff0000;
}

.iconos .icon-w:hover i {
    color: #ff0000;
}

.iconos .icon-b {
    background-color: #000000;
}

.iconos .icon-w {
    background-color: #ffffff;
}

.icon-b i {
    color: #ffffff;
    font-size: 21px;
}

.icon-w i {
    font-size: 35px;
    color: #000000;
}

.iconos .copy {
    padding: 3px 4px;
    border-radius: 4px;
    background: #eeeeee;
    font-size: 14px;
    line-height: 14px;
    height: auto;
    color: #555555;
}

@media screen and (max-width: 960px) {
    .container-fluid {
        display: flex;
        justify-content: center;
    }
    .iconos {
        max-width: 100%;
        flex-wrap: wrap;
    }
    .iconos .icon-w,
    .iconos .icon-b {
        width: 40px;
        min-width: 40px;
        height: 40px;
        min-height: 40px;
        margin-bottom: 8px;
    }
    .iconos .icon-b {
        background-color: #555555;
    }
    .iconos .icon-w {
        background-color: #d7d7d7;
    }
    .icon-b i {
        color: #d7d7d7;
        font-size: 26px;
    }
    .icon-w i {
        font-size: 40px;
        color: #555555;
    }
    .iconos .copy {
        position: fixed;
        left: 50%;
        margin-left: -51px;
        bottom: 120px;
        background: #d7d7d7;
    }
    .iconos .icon-b:hover {
        background-color: #555555;
    }
    .iconos .icon-w:hover i {
        color: #555555;
    }
    .iconos .icon-b:focus {
        background-color: #ff0000;
    }
    .iconos .icon-w:focus i {
        color: #ff0000;
    }
}

@media screen and (max-width: 368px) {
    .iconos .copy {
        bottom: 168px;
    }
}