<div class="container-fluid">
    <div class="iconos">
        <a href="https://mail.google.com/" target="_blank" class="icon-b">
            <i class="fas fa-envelope"></i>
        </a>
        <a class="icon-w" href="https://www.facebook.com/" target="_blank">
            <i class="fab fa-facebook"></i>
        </a>
        <a class="icon-b" href="https://www.instagram.com/" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a class="icon-b" href="https://www.twitter.com/" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a class="icon-b" href="https://web.whatsapp.com/" target="_blank">
            <i class="fab fa-whatsapp"></i>
        </a>
        <a class="icon-b" href="https://www.facebook.com/" target="_blank">
            <i class="fab fa-facebook-messenger"></i>
        </a>
        <a class="icon-b">
            <i class="fas fa-link"></i>
        </a>
    </div>
</div>