<div class="container-fluid">
    <p class="titulo">Compartir:</p>
    <div class="iconos">
        <div class="icon-b">
            <i class="fas fa-envelope"></i>
        </div>
        <div class="icon-w">
            <i class="fab fa-facebook"></i>
        </div>
        <div class="icon-b">
            <i class="fab fa-instagram"></i>
        </div>
        <div class="icon-b">
            <i class="fab fa-twitter"></i>
        </div>
        <div class="icon-b">
            <i class="fab fa-whatsapp"></i>
        </div>
        <div class="icon-b">
            <i class="fab fa-facebook-messenger"></i>
        </div>
        <div class="icon-b">
            <i class="fas fa-link"></i>
        </div>
    </div>
</div>