/* estilos para el titulo */

.title {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}


/* estilos para el contenedor de la imagen */

.image {
    border-radius: 12px;
    overflow: hidden;
}


/* estilos para la imagen */

img {
    width: 100%;
    transition: transform .3s;
    /* box-shadow: 0px 2px 3px 0px #555555; */
}


/* estilos para los contenedores de las opciones de camisetas y hoodies */

.shirt,
.hoodies {
    width: 33.3%;
    padding: 8px;
}


/* estilos para el contenedor de las otras opciones */

.others {
    width: 33.3%;
    padding: 8px 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* estilos para los contenedores de las opciones de bodies, tops, bolsas y mascotas */

.bodies,
.tops,
.bolsas,
.mascotas {
    width: 50%;
    padding: 0 8px;
}


/* estilos para los contenedores de las opciones de bodies y tops */

.bodies,
.tops {
    margin-bottom: 5px;
}


/* estilos para el contenedor del texto */

.botton {
    width: 100%;
    color: #555555;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}


/* estilos para el texto */

.botton .text {
    margin-bottom: 0;
    width: auto;
    font-size: 16px;
    font-weight: 500;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/* estilos para el icono */

.botton span {
    font-size: 23px;
}


/* estilos para el efeecto hover de las opciones */

@media screen and (min-width: 961px) {
    .shirt:hover .botton,
    .hoodies:hover .botton,
    .bodies:hover .botton,
    .tops:hover .botton,
    .bolsas:hover .botton,
    .mascotas:hover .botton {
        color: #ff0000;
    }
    .shirt:hover img,
    .hoodies:hover img,
    .bodies:hover img,
    .tops:hover img,
    .bolsas:hover img,
    .mascotas:hover img {
        transform: scale(1.1);
    }
}


/* estilos para versión móvil */

@media screen and (max-width: 830px) {
    .shirt,
    .hoodies,
    .others {
        width: 100%;
    }
}