<div class="container-fluid">
    <div class="row products">
        <h5 class="title">Mira algunaos de los productos que tenemos para ti</h5>
        <div class="shirt">
            <img src="assets/img/index/cuelloV.png" alt="">
            <div class="botton">
                <p class="text">Camiseta cuello V</p>
                <span class="material-icons-outlined notranslate">chevron_right</span>
            </div>
        </div>
        <div class="hoodies">
            <img src="assets/img/index/hoodies.png" alt="">
            <div class="botton">
                <p class="text">Hoodies</p>
                <span class="material-icons-outlined notranslate">chevron_right</span>
            </div>
        </div>
        <div class="others">
            <div class="bodies">
                <img src="assets/img/index/bodies.png" alt="">
                <div class="botton">
                    <p class="text">Bodies para bebés</p>
                    <span class="material-icons-outlined notranslate">chevron_right</span>
                </div>
            </div>
            <div class="tops">
                <img src="assets/img/index/tops.png" alt="">
                <div class="botton">
                    <p class="text">Crop tops</p>
                    <span class="material-icons-outlined notranslate">chevron_right</span>
                </div>
            </div>
            <div class="bolsas">
                <img src="assets/img/index/bolsas.png" alt="">
                <div class="botton">
                    <p class="text">Bolsas ecológicas</p>
                    <span class="material-icons-outlined notranslate">chevron_right</span>
                </div>
            </div>
            <div class="mascotas">
                <img src="assets/img/index/dog.png" alt="">
                <div class="botton">
                    <p class="text">Mascotas</p>
                    <span class="material-icons-outlined notranslate">chevron_right</span>
                </div>
            </div>
        </div>
    </div>
</div>