/* estilos para el contenedor de las etiquetas */

.container-tags {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* estilos para las etiquetas mostradas */

.container-tags .tags {
    display: flex;
    background: #fff;
    padding: 6px 18px;
    border: 2px solid #cccccc;
    border-radius: 8px;
    margin-right: 18px;
    margin-bottom: 5px;
}


/* estilo para el nombre de la etiqueta */

.container-tags .tags .tag {
    font-size: 13px;
    line-height: 14px;
    color: #555555;
}