<div class="container-fdm">
    <div class="row banner">
        <app-banner-top class="component" [url]="banner" [categori]="categori" [text]="text"></app-banner-top>
    </div>
    <div class="options">
        <div class="product">
            <img src="assets/img/OfertasProductos.png" alt="">
            <div class="label">
                <span>Ver ofertas en productos</span>
            </div>
        </div>
        <div class="design">
            <img src="assets/img/OfertasDiseños.png" alt="">
            <div class="label">
                <span>Ver ofertas en diseños</span>
            </div>
        </div>
    </div>




    <div class="row footer">
        <app-footer class="component"></app-footer>
    </div>
</div>