/* estilos para el contenedor del componente */

.container-fdm {
    width: 100%;
    padding: 0px 15px;
}

.options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px 60px 30px 60px;
}

.options .image {
    border-radius: 12px;
    box-shadow: 0px 2px 3px 0px #555555a6;
    overflow: hidden;
}


/* estilos para la imagen */

.image img {
    width: 100%;
    height: auto;
    transition: transform .3s;
}


/* estilos para el contenedor del texto sobre la imagen */

.options .label {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: -50px;
    padding: 10px;
}


/* estilos para el texto sobre la imagen */

.label span {
    min-width: 160px;
    text-align: center;
    padding: 3px 6px;
    border-radius: 4px;
    background: #ffffffb2;
}

.options .option1,
.options .option2,
.options .option3 {
    width: 33.3%;
    padding: 5px;
    cursor: pointer;
}

.component {
    width: 100%;
}


/* estilos hover para versión web */

@media screen and (min-width: 831px) {
    /* estilos para el efecto hover de las imagenes */
    .option1:hover img,
    .option2:hover img,
    .option3:hover img {
        transform: scale(1.1);
    }
}

@media screen and (max-width: 960px) {
    .options {
        padding: 0;
        margin: 0 -5px;
    }
}


/* estilos para pantallas con mas de 1450px de ancho */

@media screen and (min-width: 1450px) {
    /* estilos para el contenedor del componente */
    .container-fdm {
        max-width: 1450px;
        margin: 0px auto;
    }
}