/* estilos para el contenedor de las tallas */

.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px 0;
}


/* estilos para el contenedor de la talla */

.contenedor .talla {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0 10px 10px 0;
    align-items: center;
}


/* estilos para la talla no disponible */

.talla .nombre.disabled {
    color: #c8c8c8;
}


/* estilos para el input de la cantidad */

.talla .unidades {
    width: 70px;
    text-align: center;
    padding: 0;
    outline: none;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
}


/* estilos para el input desabilitado */

.talla .unidades.disabled {
    color: #d7d7d7;
}


/* estilos para el texto de pocas tallas */

.talla .cant {
    font-size: 14px;
    color: #555555;
}


/* estilo para los botones del input */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* estilos para la validación de la cantidad */

input:invalid+span:after {
    content: '✖';
    color: #ff0000;
    padding-left: 5px;
}


/* input:valid+span:after {
    content: '✓';
    padding-left: 5px;
} */


/* estilos para versión móvil */

@media screen and (max-width: 360px) {
    /* estilos para el contenedor de la talla */
    .contenedor .talla {
        margin: 0 5px 5px 0;
    }
    /* estilos para el input de la cantidad */
    .talla .unidades {
        width: 60px;
    }
}