<!-- contenedor de las tallas -->
<div class="contenedor">
    <!-- contenedor de talla -->
    <div *ngFor="let item of tallas" class="talla">
        <!-- nombre de la talla -->
        <span class="nombre" [ngClass]="{'disabled': item.unds==0}">{{item.talla}}</span>
        <!-- input de tipo number -->
        <input class="unidades" [disabled]="item.unds==0" [ngClass]="{'disabled': item.unds==0}" type="number" value="0" min="0" [max]="item.unds">
        <!-- texto de pocas tallas -->
        <span class="cant" *ngIf="!calcPocas(item.unds) && !calcUnds(item.unds)"></span>
        <span class="cant" *ngIf="calcPocas(item.unds)">(pocas unds)</span>
        <span class="cant" *ngIf="calcUnds(item.unds)">({{item.unds}} unds)</span>
    </div>
</div>