<div class="container-fdm">
    <div class="row detalle">
        <div class="producto">
            <app-image-detail class="component" [webVersion]="webVersion"></app-image-detail>
        </div>
        <div class="col informacion">
            <div class="row info">
                <div class="nombre">
                    <p class="titulo">Camiseta básica hombre</p>
                    <p class="coleccion">Fabulas de Colombia</p>
                </div>
                <div class="precio">
                    <span class="valor">$25.000</span>
                    <div class="descuento">
                        <span>$50.000</span>
                        <span>50% Off</span>
                    </div>
                </div>
            </div>
            <div class="row colores">
                <p>Colores: 12</p>
                <app-color-detail [colores]="colores" class="component"></app-color-detail>
            </div>
            <div class="row m-0 tallas">
                <div class="btn-tallas" (click)="modalSizes()">
                    <p class="titulo">Tallas:</p>
                    <span class="material-icons notranslate">chevron_right</span>
                    <app-sizes></app-sizes>
                </div>
                <button class="rojo" (click)="modalSizesGuide()">
                    <span class="material-icons notranslate">straighten</span>Ver guía de tallas
                    <app-size-guide></app-size-guide>
                </button>
                <app-tallas *ngIf="webVersion"></app-tallas>
            </div>
            <div class="row m-0 botones">
                <div class="boton">
                    <button class="btn-carrito">
                        <span class="material-icons-outlined notranslate">shopping_cart</span>
                        <span class="text">Añadir a carrito</span>
                    </button>
                </div>
                <div class="boton">
                    <button class="btn-share" (click)="modalShare()">
                        <span class="material-icons-outlined notranslate">share</span>
                        <app-share-detail></app-share-detail>
                    </button>
                </div>
                <div class="boton">
                    <button class="btn-deseos">
                        <span class="material-icons-outlined notranslate">favorite_border</span>
                        <span class="text">Añadir a deseos</span>
                    </button>
                </div>
                <div class="boton">
                    <button class="btn-personalizar">
                        <span class="material-icons-outlined notranslate">edit</span>
                        <span class="text">Personalizar</span>
                    </button>
                </div>
                <div class="boton">
                    <button class="btn-comprar">
                        <span class="material-icons-outlined notranslate">payment</span>
                        <span class="text">Comprar</span>
                    </button>
                </div>
            </div>
            <div *ngIf="webVersion" class="row m-0 compartir">
                <p class="titulo">Compartir:</p>
                <app-to-share class="component"></app-to-share>
            </div>
            <div class="row caracteristicas">
                <app-info-detail class="component"></app-info-detail>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <app-venta-cruzada class="component"></app-venta-cruzada>
    </div> -->

    <!-- contenedor del componente de las etiquetas -->
    <div class="row etiquetas">
        <app-tags [tags]="tags" class="component"></app-tags>
    </div>
    <!-- contenedor del componente de la infomacion de venta -->
    <div class="row informacion">
        <app-information class="component"></app-information>
    </div>
</div>