.container-fdm {
    width: 100%;
    padding: 0px 15px;
}

.detalle {
    margin: 0 15px;
    border-bottom: 1px solid #d7d7d7;
}

.producto {
    display: flex;
    flex-direction: row;
    min-width: 60%;
    background: linear-gradient(to right, #ffffff, #d7d7d7);
    padding: 15px;
}

.producto .vistas {
    display: flex;
    flex-direction: column;
    padding: 50px 20px 0 20px;
    width: auto;
}

.vistas .border-red {
    width: 100%;
    border: 1px solid #ff0000;
}

.vistas button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 60px;
    padding: 0;
    background: none;
    border: 1px solid #d7d7d7;
    margin: 5px 0 1px 0;
    outline: none;
}

.vistas button.selected {
    background: #d7d7d7;
}

.vistas img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.producto .imagen {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-right: 50px;
    padding-left: 20px;
}

.imagen img {
    width: auto;
    max-width: 100%;
    height: auto;
}

.informacion {
    min-width: 40%;
    padding: 15px 0 0 15px;
}

.informacion .info {
    margin: 0;
}

.info .nombre {
    width: 100%;
}

.nombre .titulo {
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    white-space: pre-wrap;
}

.nombre .coleccion {
    margin-bottom: 10px;
    font-size: 16px;
}

.info .precio {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.precio .valor {
    font-size: 20px;
    margin-right: 5px;
    line-height: 20px;
}

.precio .descuento {
    font-size: 14px;
    line-height: 14px;
}

.informacion .colores {
    padding: 10px 0;
    border-bottom: 1px solid #d7d7d7;
}

.colores p {
    font-size: 15px;
    margin: 0;
}

.descuento span:first-child {
    text-decoration: line-through;
    margin-right: 3px;
}

.descuento span:last-child {
    color: #ff0000;
}

.informacion .tallas {
    padding: 10px 0;
}

.tallas .titulo {
    display: inline-block;
    font-size: 15px;
    margin: 0 8px;
}

.tallas .rojo {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: 0;
    color: #ff0000;
    text-decoration: none;
}

.rojo span {
    font-size: 20px;
    margin-right: 3px;
}

.botones {
    padding-bottom: 5px;
    border-bottom: 1px solid #d7d7d7;
}

.botones button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3px 6px;
    border: 1px solid #d7d7d7;
    background: #eeeeee;
    border-radius: 4px;
    color: #555555;
}

.botones .btn-share {
    display: none;
}

.component {
    width: 100%;
}

@media screen and (min-width: 1450px) {
    .container-fdm {
        max-width: 1450px;
        margin: 0px auto;
    }
}