.container-fdm {
    width: 100%;
    padding: 0px 15px;
}

.detalle {
    margin: 0 15px;
    border-bottom: 1px solid #d7d7d7;
}

.producto {
    display: flex;
    flex-direction: row;
    width: 60%;
    /* background: linear-gradient(to right, #ffffff, #d7d7d7); */
    padding: 0;
}

.informacion {
    min-width: 40%;
    padding: 15px 0 0 15px;
}

.informacion .info {
    margin: 0;
}

.info .nombre {
    width: 100%;
}

.nombre .titulo {
    margin: 0px;
    font-size: 22px;
    font-weight: bold;
    line-height: 22px;
    white-space: pre-wrap;
}

.nombre .coleccion {
    margin-bottom: 10px;
    font-size: 18px;
}

.info .precio {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.precio .valor {
    font-size: 22px;
    margin-right: 5px;
    line-height: 22px;
}

.precio .descuento {
    font-size: 14px;
    line-height: 14px;
}

.informacion .colores {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #d7d7d7;
}

.colores p {
    font-size: 16px;
    margin: 0;
}

.descuento span:first-child {
    text-decoration: line-through;
    margin-right: 3px;
}

.descuento span:last-child {
    color: #ff0000;
}

.informacion .tallas {
    padding: 10px 0 0 0;
}

.btn-tallas .titulo {
    display: inline-block;
    font-size: 16px;
    margin: 0 8px;
}

.btn-tallas span {
    display: none;
}

.tallas .rojo {
    display: flex;
    align-items: center;
    font-size: 16px;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    color: #ff0000;
    outline: none;
}

.rojo span {
    font-size: 20px;
    margin-right: 3px;
}

.botones {
    display: flex;
    justify-content: center;
    padding-bottom: 4px;
    border-bottom: 1px solid #d7d7d7;
}

.botones .boton {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 4px;
}

.boton button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3px 6px;
    border: 1px solid #d7d7d7;
    background: #eeeeee;
    border-radius: 4px;
    color: #555555;
    outline: none;
}

.boton .text {
    font-size: 16px;
    line-height: 16px;
}

.botones .boton:nth-child(2) {
    display: none;
}

.boton .btn-personalizar {
    background-color: #ffffff;
    border-color: #555555;
}

.boton .btn-comprar {
    background-color: #ffffff;
    border-color: #ff0000;
}

.compartir {
    border-bottom: 1px solid #d7d7d7;
}

.compartir .titulo {
    font-size: 16px;
    margin: 8px 0 0;
    line-height: 16px;
}

.caracteristicas {
    margin: 10px 0 0 0;
}

.component {
    width: 100%;
}

@media screen and (max-width: 960px) {
    .detalle {
        margin: 0;
    }
    .producto {
        width: -webkit-fill-available;
        margin: 0 -15px;
    }
    .informacion {
        min-width: 100%;
        padding-left: 0;
    }
    .info .nombre {
        max-width: calc(100% - 105px);
    }
    .nombre .coleccion {
        margin: 0;
    }
    .info .precio {
        flex-direction: column;
    }
    .precio .valor {
        margin-right: 0;
        margin-bottom: 5px;
    }
    .informacion .colores {
        margin: 0 -15px;
        border-bottom: none;
    }
    .colores p {
        margin-left: 15px;
    }
    .tallas .btn-tallas {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 4px 0;
        background: #d7d7d7;
        border-radius: 4px;
        margin-bottom: 5px;
    }
    .btn-tallas span {
        display: block;
        color: #ff0000;
        margin-left: auto;
    }
    .btn-carrito .text,
    .btn-deseos .text {
        display: none;
    }
    .informacion .botones {
        padding: 10px 0;
        margin-bottom: 10px;
    }
    .botones .boton:nth-child(5) {
        order: 1;
        width: 100%;
    }
    .botones .boton:nth-child(4) {
        order: 2;
        width: 100%;
    }
    .botones .boton:nth-child(3) {
        order: 3;
        width: 50px;
    }
    .botones .boton:nth-child(2) {
        display: block;
        order: 4;
        width: 50px;
    }
    .botones .boton:nth-child(1) {
        order: 5;
        width: 50px;
    }
    .boton .btn-comprar,
    .boton .btn-personalizar {
        width: 220px;
    }
    .boton .btn-carrito,
    .boton .btn-deseos,
    .boton .btn-share {
        border: none;
        background: none;
    }
}

@media screen and (min-width: 1450px) {
    .container-fdm {
        max-width: 1450px;
        margin: 0px auto;
    }
}