<div class="container-fluid">

    <div class="row encabezado">
        <div class="col px-1">
            <h6 class="nombre">Camiseta premium hombre - cuello redondo</h6>
        </div>
        <div class="col-auto px-2">
            <a class="descargar" href="#">
                <span class="material-icons-outlined icono">file_download</span>
                <span class="texto">Descargar</span>
            </a>
        </div>
        <div class="col-auto px-2">
            <a class="imprimir" href="#">
                <span class="material-icons-outlined icono">print</span>
                <span class="texto">Imprimir</span>
            </a>
        </div>
    </div>

    <div class="row m-0">
        <div class="col-6 px-1">
            <div class="boton">
                <button class="seleccionar">
                    <span class="material-icons-outlined icono">check</span>
                    <span class="texto">Seleccionar producto</span>
                </button>
            </div>
            <div class="confeccion">
                <p>¡Confección colombiana de alta calidad!</p>
                <p></p>
            </div>

        </div>
        <div class="col-6 px-1">

        </div>
    </div>

</div>