.designs {
    justify-content: center;
}

.designs .more {
    padding: 15px 30px;
}

.more .title {
    text-align: center;
}

.custom {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}

.custom img {
    width: 100%;
    height: auto;
}

.cards .containeer2,
.custom .containeer {
    position: absolute;
    z-index: 4;
    width: 38%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.custom .containeer {
    left: 0;
}

.cards .containeer2 {
    right: 0;
}

.containeer2 .content,
.containeer .content {
    padding: 20px;
    background: #ffffff9f;
}

.containeer .content {
    border-radius: 0 12px 12px 0;
}

.containeer2 .content {
    border-radius: 12px 0 0 12px;
}

.content .title {
    font-weight: bold;
}

.content .text {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
}

.content .bottons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.content .botton2 {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.botton2 .btn-custom,
.botton2-movil .btn-custom,
.bottons-movil .btn-custom,
.bottons .btn-custom {
    display: flex;
    align-items: center;
    background: none;
    border-radius: 8px;
    border: 1px solid #ff0000;
    padding: 1px 10px;
    font-size: 16px;
    line-height: 20px;
    outline: none;
}

.btn-custom span {
    font-size: 20px;
}

.card50 .botton2-movil,
.custom .bottons-movil {
    display: none;
}

.cards .card50,
.custom .gif {
    position: absolute;
    z-index: 4;
    height: 100%;
    width: 62%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.custom .gif {
    right: 0;
    padding-right: 40px;
}

.cards .card50 {
    left: 0;
    padding-left: 40px;
}

.card50 .image {
    height: 100%;
    padding: 35px 0;
}

.gif .image {
    height: 100%;
    padding: 15px 0;
}

.gif .image:last-child {
    display: none;
}

.image img {
    height: auto;
    max-height: 100%;
    width: auto;
    border-radius: 8px;
}

.card50 .image img {
    box-shadow: 0px 2px 10px #00000073;
}

.gif .image img {
    box-shadow: -1px 4px 3px #00000057;
}

.cards {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #d7d7d7;
}

.cards .textura {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 960px) {
    .designs .more {
        padding: 15px 0px;
    }
    .cards .containeer2,
    .custom .containeer {
        position: relative;
        width: 100%;
    }
    .containeer2 .content,
    .containeer .content {
        width: 100%;
        padding: 10px;
        border-radius: 0;
        background: #ffffff;
        text-align: center;
    }
    .content .botton2,
    .content .bottons {
        display: none;
    }
    .custom .textura {
        height: 480px;
        width: auto;
    }
    .cards .textura {
        height: 300px;
        width: auto;
    }
    .cards .card50,
    .custom .gif {
        width: 100%;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        bottom: 0;
        height: 480px;
        max-height: 480px;
        margin-bottom: 34px;
    }
    .cards .card50 {
        height: 300px;
        max-height: 300px;
        margin: 0;
    }
    .gif .image {
        height: 100%;
        padding: 0;
    }
    .card50 .image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% - 44px);
        width: 100%;
        padding: 20px 0;
    }
    .image img {
        height: 100%;
        width: auto;
    }
    .card50 .image img {
        height: auto;
        max-width: 100%;
    }
    .gif .image:last-child {
        display: block;
    }
    .gif .image:first-child {
        display: none;
    }
    .card50 .botton2-movil,
    .custom .bottons-movil {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }
    .card50 .botton2-movil {
        margin: 0;
        padding: 10px 0;
    }
    .botton2-movil .btn-custom {
        background-color: #ffffff9e;
    }
}