<div class="container-fluid">
    <div class="row designs">
        <div class="col more">
            <h4 class="title mb-3">Diseños para regalar</h4>
            <app-carousel></app-carousel>
        </div>
    </div>

    <div class="row custom">

        <div class="containeer">
            <div class="content">
                <h2 class="title">{{title}}</h2>
                <p class="text">{{text}}</p>
                <div class="bottons">
                    <button class="btn-custom">
                        <span class="material-icons-outlined notranslate">edit</span>
                        Personalizar
                    </button>
                </div>
            </div>
        </div>

        <img class="textura" src="assets/img/gifts/textura.png" alt="">

        <div class="bottons-movil">
            <button class="btn-custom">
                <span class="material-icons-outlined notranslate">edit</span>
                Personalizar
            </button>
        </div>

        <div class="gif">
            <div class="image">
                <img src="assets/img/gifts/editorWeb.gif" alt="">
            </div>
            <div class="image">
                <img src="assets/img/gifts/editorMovil.gif" alt="">
            </div>
        </div>
    </div>
    <div class="row cards">

        <div class="containeer2">
            <div class="content">
                <h2 class="title">{{title2}}</h2>
                <p class="text">{{text2}}</p>
                <div class="botton2">
                    <button class="btn-custom">
                        Comprar una tarjeta de regalo
                    </button>
                </div>
            </div>
        </div>

        <img class="textura" src="assets/img/gifts/textura.png" alt="">



        <div class="card50">
            <div class="image">
                <img src="assets/img/card50.png" alt="">
            </div>
            <div class="botton2-movil">
                <button class="btn-custom">
                    Comprar una tarjeta de regalo
                </button>
            </div>
        </div>
    </div>
</div>