<div class="container-fluid">
    <!-- contenedor del menu de subcategorias -->
    <div class="row">
        <!-- titulo -->
        <h5 class="title">Encuentra tu mundo, crea tu estilo</h5>

        <div class="col">
            <!-- contenedor de la primera sección del menu -->
            <div class="row top">
                <!-- contenedor de la columna izquierda -->
                <div class="column1">
                    <!-- contenedor de la imagen y del texto -->
                    <div class="image">
                        <img src="assets/img/index/camisetasHombre.png" alt="">
                        <!-- contenedor del texto -->
                        <div class="label">
                            <span class="black">Camisetas para hombres</span>
                        </div>
                    </div>
                    <!-- contenedor de la imagen y del texto -->
                    <div class="image">
                        <img src="assets/img/index/camisetasMujer.png" alt="">
                        <!-- contenedor del texto -->
                        <div class="label">
                            <span class="white">Camisetas para mujeres</span>
                        </div>
                    </div>
                </div>
                <!-- contenedor de la columna derecha -->
                <div class="column2">
                    <!-- contenedor de la imagen y del texto -->
                    <div class="image">
                        <img src="assets/img/index/regalos.png" alt="">
                        <!-- contenedor del texto -->
                        <div class="label">
                            <span class="black">Regalos</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- contenedor de la segunda sección del menu -->
            <div class="row medium">
                <!-- contenedor de la columna izquierda -->
                <div class="column1">
                    <!-- contenedor de la imagen y del texto -->
                    <div class="image">
                        <img src="assets/img/index/parejas.png" alt="">
                        <!-- contenedor del texto -->
                        <div class="label">
                            <span class="black">Parejas</span>
                        </div>
                    </div>
                    <!-- contenedor de la imagen y del texto -->
                    <div class="image">
                        <img src="assets/img/index/bebes.png" alt="">
                        <!-- contenedor del texto -->
                        <div class="label">
                            <span class="white">Niños y bebés</span>
                        </div>
                    </div>
                </div>
                <!-- contenedor de la columna derecha -->
                <div class="column2">
                    <!-- contenedor de la imagen y del texto -->
                    <div class="image">
                        <img src="assets/img/index/colombia.png" alt="">
                        <!-- contenedor del texto -->
                        <div class="label">
                            <span class="white">Colección Colombia</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- contenedor de la última sección del menu -->
            <div class="row bottom">
                <!-- contenedor de la columna izquierda -->
                <div class="column1">
                    <!-- contenedor de la imagen y del texto -->
                    <div class="image">
                        <img src="assets/img/index/mascotas.png" alt="">
                        <!-- contenedor del texto -->
                        <div class="label">
                            <span class="black">Mascotas</span>
                        </div>
                    </div>
                </div>
                <!-- contenedor de la columna dereccha -->
                <div class="column2">
                    <!-- contenedor de la imagen y del texto -->
                    <div class="image">
                        <img src="assets/img/index/accesorios.png" alt="">
                        <!-- contenedor del texto -->
                        <div class="label">
                            <span class="black">Accesorios y más</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>