<div class="container-fluid">
    <div class="row">

        <h5 class="title">Encuentra tu mundo, crea tu estilo</h5>
        <div class="col">
            <div class="row top">
                <div class="column">
                    <div class="image">
                        <img src="assets/img/index/camisetasHombre.png" alt="">
                    </div>
                    <div class="image">
                        <img src="assets/img/index/camisetasMujer.png" alt="">
                    </div>
                </div>
                <div class="column">
                    <div class="image">
                        <img src="assets/img/index/regalos.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row medium">

            </div>

            <div class="row bottom">

            </div>
        </div>

    </div>
</div>