.title {
    width: 100%;
    text-align: center;
}

.top .column {
    padding: 8px 4px 0 4px;
    width: 50%;
}

.column .image {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 8px;
}

.image img {
    width: auto;
    height: auto;
    max-width: 100%;
}