<div class="container-fluid">
    <div class="row">

        <h5 class="title">Encuentra tu mundo, crea tu estilo</h5>
        <div class="col">
            <div class="row top">
                <div class="column1">
                    <div class="image">
                        <img src="assets/img/index/camisetasHombre.png" alt="">
                        <div class="label">
                            <span class="black">Camisetas para hombres</span>
                        </div>
                    </div>
                    <div class="image">
                        <img src="assets/img/index/camisetasMujer.png" alt="">
                        <div class="label">
                            <span class="white">Camisetas para mujeres</span>
                        </div>
                    </div>

                </div>
                <div class="column2">
                    <div class="image">
                        <img src="assets/img/index/regalos.png" alt="">
                        <div class="label">
                            <span class="white">Regalos</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row medium">
                <div class="column1">
                    <div class="image">
                        <img src="assets/img/index/parejas.png" alt="">
                        <div class="label">
                            <span class="black">Parejas</span>
                        </div>
                    </div>
                    <div class="image">
                        <img src="assets/img/index/bebes.png" alt="">
                        <div class="label">
                            <span class="white">Niños y bebés</span>
                        </div>
                    </div>
                </div>
                <div class="column2">
                    <div class="image">
                        <img src="assets/img/index/colombia.png" alt="">
                        <div class="label">
                            <span class="black">Colección Colombia</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row bottom">
                <div class="column1">
                    <div class="image">
                        <img src="assets/img/index/mascotas.png" alt="">
                        <div class="label">
                            <span class="black">Mascotas</span>
                        </div>
                    </div>
                </div>
                <div class="column2">
                    <div class="image">
                        <img src="assets/img/index/accesorios.png" alt="">
                        <div class="label">
                            <span class="white">Accesorios y más</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>