<div class="container-fluid">
    <!-- contenedor del ejemplo del editor -->
    <div class="row">
        <!-- titulo -->
        <h5 class="title">Así lo hacemos en fuera del molde</h5>
        <!-- contenedor del proceso de edición -->
        <div class="guide">
            <!-- contenedor el ítem del proceso -->
            <div class="contenedor">
                <!-- contenedor de la imagen del ítem -->
                <div class="image">
                    <img src="assets/img/index/custom1.png" alt="">
                </div>
                <!-- contenedor del texto del ítem -->
                <div class="content">
                    <p class="text">Un artista crea un diseño y lo sube.</p>
                    <span class="material-icons notranslate">trending_flat</span>
                </div>
            </div>
            <!-- contenedor el ítem del proceso -->
            <div class="contenedor">
                <!-- contenedor de la imagen del ítem -->
                <div class="image">
                    <img src="assets/img/index/custom2.png" alt="">
                </div>
                <!-- contenedor del texto del ítem -->
                <div class="content">
                    <p class="text">Elige un diseño, editalo o crea uno propio.</p>
                    <span class="material-icons notranslate">trending_flat</span>
                </div>
            </div>
            <!-- contenedor el ítem del proceso -->
            <div class="contenedor">
                <!-- contenedor de la imagen del ítem -->
                <div class="image">
                    <img src="assets/img/index/custom3.png" alt="">
                </div>
                <!-- contenedor del texto del ítem -->
                <div class="content">
                    <p class="text">El artículo personalizado se envía a tu casa.</p>
                    <span class="material-icons notranslate">trending_flat</span>
                </div>
            </div>
            <!-- contenedor el ítem del proceso -->
            <div class="contenedor">
                <!-- contenedor de la imagen del ítem -->
                <div class="image">
                    <img src="assets/img/index/custom4.png" alt="">
                </div>
                <!-- contenedor del texto del ítem -->
                <div class="content">
                    <p class="text">Usas un artículo genial apoyando a un artista.</p>
                </div>
            </div>
        </div>

        <!-- contenedor del ejemplo del editor -->
        <div class="card-guide">
            <!-- contenedor de la tarjeta del ejemplo -->
            <div class="card">
                <!-- gif de ejemplo del editor -->
                <img class="card-img-top" src="assets/img/index/editorFdm.gif" alt="">
                <!-- contenedor de los textos y el botón -->
                <div class="card-body">
                    <!-- titulo de la tarjeta -->
                    <h6 class="titlee">Personalizar</h6>
                    <!-- texto de la tarjeta -->
                    <p class="text">Haz diseños únicos con nuestra excelente herramienta de personalización.</p>
                    <!-- botón de ir al editor -->
                    <button class="btn-personalizar">
                        <!-- icono del botón -->
                        <span class="material-icons-outlined notranslate">
                            edit
                        </span>
                        Personalizar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>