<div class="container-fluid">
    <div class="row">
        <h5 class="title">Así lo hacemos en fuera del molde</h5>
        <div class="guide">
            <div class="contenedor">
                <div class="image">
                    <img src="assets/img/index/custom1.png" alt="">
                </div>
                <div class="content">
                    <p class="text">Un artista crea un diseño y lo sube.</p>
                    <span class="material-icons notranslate">trending_flat</span>
                </div>

            </div>
            <div class="contenedor">
                <div class="image">
                    <img src="assets/img/index/custom2.png" alt="">
                </div>
                <div class="content">
                    <p class="text">Elige un diseño, editalo o crea uno propio.</p>
                    <span class="material-icons notranslate">trending_flat</span>
                </div>

            </div>
            <div class="contenedor">
                <div class="image">
                    <img src="assets/img/index/custom3.png" alt="">
                </div>
                <div class="content">
                    <p class="text">El artículo personalizado se envía a tu casa.</p>
                    <span class="material-icons notranslate">trending_flat</span>
                </div>

            </div>
            <div class="contenedor">
                <div class="image">
                    <img src="assets/img/index/custom4.png" alt="">
                </div>
                <div class="content">
                    <p class="text">Usas un artículo genial apoyando a un artista.</p>
                </div>
            </div>

        </div>
        <div class="card-guide">

            <div class="card">
                <img class="card-img-top" src="assets/img/index/editorFdm.gif" alt="">
                <div class="card-body">
                    <h6 class="titlee">Personalizar</h6>
                    <p class="text">Haz diseños únicos con nuestra excelente herramienta de personalización.</p>
                    <button class="btn-personalizar">
                        <span class="material-icons-outlined notranslate">
                            edit
                        </span>
                        Personalizar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>