<div class="container-fluid">
    <div class="row">
        <div class="col-auto">
            <button class="btn btn-outline-primary" (click)="modalDisenio()">Diseño</button>
            <app-design></app-design>
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-primary" (click)="modalBorrador()">
                Borrador
            </button>
            <app-borrador></app-borrador>
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-primary" (click)="modalBorradores()">
                Borradores
            </button>
            <app-borradores></app-borradores>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <h4 class="titulo">Este diseño en otros productos</h4>
    </div>
    <div class="row">
        <app-menu class="w-100"></app-menu>
    </div>
    <div class="row">
        <div class="col otros">
            <h4 class="titulo mb-2">Otros usuarios también compraron:</h4>
            <app-carousel></app-carousel>
        </div>
    </div>
    <div class="row">
        <div class="col fondo-s">
            <h4 class="titulo similares mb-2">Diseños similares:</h4>
            <app-carousel></app-carousel>
        </div>
    </div>
    <div class="row fondo-img">
        <h4 class="titulo w-100 mb-3">Te puede interesar:</h4>
        <div *ngFor="let tag of tags" class="col-auto tags">
            <span class="tag">{{tag}}</span>
        </div>
    </div>
    <div class="row info">
        <div class="col-12 px-0">
            <h4 class="titulo text-center mb-2 mb-md-4">Satisfacción 100% garantizada</h4>
        </div>
        <div class="col-lg-3 col-6">
            <span class="material-icons">security</span>
            <p class="bold">Pagos seguros</p>
            <p class="texto">Compra con total seguridad a través de crédito, débito o efectivo</p>
            <a class="mas-info" href="#">Más información</a>
        </div>
        <div class="col-lg-3 col-6">
            <span class="material-icons">compare_arrows</span>
            <p class="bold">Devoluciones gratuitas</p>
            <p class="texto">15 días para efectuar cambios gratuitos en cualquier penda</p>
            <a class="mas-info" href="#">Más información</a>
        </div>
        <div class="col-lg-3 col-6">
            <span class="material-icons">headset_mic</span>
            <p class="bold">Acesoría personalizada</p>
            <p class="texto">Estamos disponibles de lunes a viernes de 9:00 am a 6:00 pm</p>
            <a class="mas-info" href="#">Más información</a>
        </div>
        <div class="col-lg-3 col-6">
            <span class="material-icons-outlined">local_shipping</span>
            <p class="bold">Envíos a toda Colombia</p>
            <p class="texto">Sigue tu pedido con nuestros proveedores de envió</p>
            <a class="mas-info" href="#">Más información</a>
        </div>

    </div>

    <div class="row pagos">
        <div class="col-12 col-md-6 pagos-col borde">
            <h4 class="titulo mb-2 mb-md-4">Suscríbete a nuestro boletín</h4>
            <p class="texto">Para enterarte de todas nuestras ofertas, promociones y sorteos</p>
            <a class="mas-info" href="#">Más información sobre nuestro boletín</a>
            <div class="input-group my-2">
                <input type="email" class="form-control" placeholder="Tu correo electrónico">
                <div class="input-group-append">
                    <button class="input-group-text" type="submit" id="suscribirse">Suscribirse</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 pagos-col">
            <h4 class="titulo">Métodos de pago</h4>
            <img class="img-fluid" src="assets/img/pagos.png" alt="">
        </div>

    </div>

    <div class="row py-5 bg-dark">
        <h4 class="text-center text-white">footer</h4>
    </div>

</div>