.container-fluid {
    margin-top: 20px;
}

.row {
    justify-content: center;
}

.otros {
    padding: 15px 30px;
    background-image: url("../assets/img/fondofdm.jpg");
}

.fondo-s {
    background: #ffffff;
    padding: 15px 30px;
}


/* .fondo-s .similares {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 5px;
} */

.fondo-img {
    padding: 15px 30px;
    background-image: url("../assets/img/fondofdm.jpg");
    display: flex;
    justify-content: start;
}

.fondo-img .tags {
    display: flex;
    background: #fff;
    padding: 6px 18px;
    border: 2px solid #cccccc;
    border-radius: 8px;
    margin-right: 18px;
    margin-bottom: 5px;
}

.fondo-img .tags .tag {
    font-size: 13px;
    line-height: 14px;
}

.info {
    padding: 15px 30px;
}

.info .col-6,
.pagos .pagos-col {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.info span {
    width: auto;
    text-align: center;
    font-size: 45px;
    color: #ff0000;
}

.info .bold {
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

.info .texto,
.pagos .texto {
    font-size: 13px;
    line-height: 14px;
    text-align: center;
    margin-bottom: 0;
}

.info .mas-info,
.pagos .mas-info {
    color: #ff0000;
    text-align: center;
    font-size: 12px;
    line-height: 13px;
}

.pagos {
    padding: 15px 0px;
    margin: 0 30px;
    border-top: 1px solid #cccccc;
}

.pagos .pagos-col {
    padding: 0 20px;
}

.pagos .borde {
    border-right: 1px solid #cccccc;
}

.pagos .titulo {
    color: #555555;
    text-align: center;
}

.pagos .input-group-text {
    background: #ff0000;
    border-color: #ff0000;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

.pagos .form-control {
    font-size: 14px;
    border: 1px solid #555555;
    border-right-color: #ff0000;
}

@media screen and (max-width: 767px) {
    .pagos .borde {
        border-right: none;
        border-bottom: 1px solid #cccccc;
    }
}

@media screen and (max-width: 680px) {
    .fondo-s {
        padding: 15px 5px;
    }
    .otros {
        padding: 15px 5px;
    }
    .info {
        padding: 15px 5px;
    }
    .info .col-6 {
        padding: 4px 3px;
    }
    .fondo-img {
        padding: 15px 5px;
    }
    .pagos {
        padding: 7px 0;
        margin: 0 5px;
    }
    .pagos .pagos-col {
        padding: 7px 0px;
    }
    .pagos .form-control,
    .pagos .input-group-text {
        padding: 2px 6px;
        font-size: 12px;
        line-height: 13px;
        height: 25px;
    }
}

@media screen and (max-width: 425px) {
    .titulo {
        font-size: 18px;
    }
}