<div class="container-fluid">
    <div class="row">
        <h4 class="titulo">Este diseño en otros productos</h4>
    </div>
    <div class="row">
        <app-menu class="w-100"></app-menu>
    </div>
    <div class="row">
        <div class="col fondo-s">
            <h4 class="titulo similares">Diseños similares</h4>
            <app-carousel></app-carousel>
        </div>
    </div>
    <div class="row fondo-img">
        <h4 class="titulo w-100 mb-3">Te puede interesar</h4>
        <div *ngFor="let tag of tags" class="col-auto tags">
            <span class="tag">{{tag}}</span>
        </div>
    </div>
    <div class="row info">
        <div class="col-12 px-0">
            <h4 class="titulo text-center">Satisfacción 100% garantizada</h4>
        </div>
        <div class="col">

        </div>

    </div>

</div>