<div class="container-fluid">

    <div class="row busqueda">

        <div class="filtros">
            <app-filtros></app-filtros>
        </div>

        <div class="contenedor">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Página de inicio</a></li>
                    <li class="breadcrumb-item"><a href="#">Comprar</a></li>
                    <li class="breadcrumb-item"><a href="#">Hombres</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Camisetas</li>
                </ol>
            </nav>
            <app-carousel-style [slides]="carousel"></app-carousel-style>
            <app-ordering></app-ordering>
        </div>
    </div>

</div>