.busqueda {
    margin: 15px 0px;
}

.breadcrumb {
    justify-content: center;
    background: none;
    margin: 0px;
    padding: 5px 0px;
    font-size: 12px;
}

.breadcrumb .active,
.breadcrumb a {
    color: #555555;
}