/* estilos para el contenedor del componente */

.container-fdm {
    width: 100%;
    padding: 0px 15px;
}


/* estilos para el contenedor de la sección de busqueda */

.busqueda {
    margin: 15px 0px;
}


/* estilos para el contenedor de los filtros */

.busqueda .filtros {
    max-width: 25%;
    padding: 0px 15px;
}


/* estilos para el contenedor de la miga de pan */

.busqueda .contenedor {
    max-width: 75%;
    padding: 0px 15px;
}


/* estilos para la miga de pan */

.breadcrumb {
    justify-content: center;
    background: none;
    margin: 0px;
    padding: 5px 0px;
    font-size: 12px;
}


/* estilos para los items de la miga de pan */

.breadcrumb .active,
.breadcrumb a {
    color: #555555;
}


/* estilos para el contenedor del boton de abrir los filtros en movil */

.boton-filtrar {
    display: none;
    padding-bottom: 4px;
    border-bottom: 1px solid #d7d7d7;
}


/* estilos para el boton de abrir los filtros en movil */

.boton-filtrar .filtrar {
    display: flex;
    align-items: center;
    padding: 1px 15px;
    color: #555555;
    background: #ffffff;
    border: 1px solid #ff0000;
    border-radius: 4px;
    outline: none;
}


/* estilos para el contenedor de los resultados */

.resultados {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}


/* estilo para el contenedor de la tarjeta del producto */

.resultados .producto {
    height: fit-content;
    padding: 4px;
}


/* estilos para el contenedor del componente de la paginacion */

.paginacion {
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    margin: 10px 0px;
    border-top: 1px solid #d7d7d7;
}


/* estilos para los componentes de  las etiquetas y la informacion de ventas y pagos */

.etiquetas .component,
.informacion .component {
    width: 100%;
}


/* estilos para version movil */

@media screen and (max-width: 960px) {
    /* estilos para el contenedor del componente */
    .container-fdm.noScroll {
        height: 90vh;
        overflow: hidden;
    }
    /* estilos para el contenedor de la miga de pan */
    .busqueda .contenedor {
        max-width: 100%;
        padding: 0px;
    }
    /* estilos para la miga de pan */
    .breadcrumb {
        margin: 0 -15px;
    }
    /* estilos para el contenedor del componente del carousel de los estilos */
    .contenedor .slider {
        margin: 0 -15px;
    }
    /* estilos para el contenedor de abrir los filtros en movil */
    .boton-filtrar {
        display: block;
    }
    /* estilos para el contenedor del componente de ordenamiento de los resultados */
    .ordenamiento {
        margin: 0 -5px;
    }
    /* estilos del contenedor de los resultados */
    .resultados {
        margin: 0px -10px;
    }
}


/* estilos para pantallas con ancho mayor a 1450px */

@media screen and (min-width: 1450px) {
    /* estilos para el contenedor del componente */
    .container-fdm {
        max-width: 1450px;
        margin: 0px auto;
    }
}