<div class="container-fdm" [ngClass]="{'noScroll': filters}">
    <!-- contenedor de la seccion de busqueda -->
    <div class="row busqueda">
        <!-- contenedor del componente de los filtros -->
        <div class="filtros">
            <app-filtros [filtrar]="filters" [ofertas]="filterOfertas" (close)="openFiltros(false)"></app-filtros>
        </div>
        <!-- contenedor de la miga de pan -->
        <div class="contenedor">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Página de inicio</a></li>
                    <li *ngIf="params[0]!='ofertas'" class="breadcrumb-item"><a href="#">Comprar</a></li>
                    <li class="breadcrumb-item"><a href="#">
                        {{params[0].charAt(0).toUpperCase() + params[0].slice(1)}}
                    </a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{routeActive}}</li>
                </ol>
            </nav>
            <!-- contenedor del titulo en ofertas -->
            <div *ngIf="params[0]==='ofertas'" class="row ofertas">
                <h3 class="text">{{routeActive}}</h3>
            </div>
            <!-- contenedor del componente del carrusel de los estilos -->
            <div *ngIf="params[0]!='ofertas'" class="slider">
                <app-carousel-style [slides]="carousel"></app-carousel-style>
            </div>
            <!-- contenedor del boton para abrir los filtros en movil -->
            <div class="boton-filtrar">
                <button class="filtrar" (click)="openFiltros(true)">
                    <span class="material-icons-outlined notranslate">filter_alt</span>
                    <span>Filtrar</span>
                </button>
            </div>
            <!-- contenedor del componente de ordenamiento de los resultados -->
            <div class="ordenamiento">
                <app-ordering (columnas)="setColumns($event)" (vista)="changeView($event)"></app-ordering>
            </div>
            <!-- contenedor del componente de los resultados -->
            <div class="resultados">
                <!-- contenedor de la tarjeta del producto -->
                <div *ngFor="let item of products" class="producto" [ngStyle]="{width: width}">
                    <app-card-store [url]="item" [height]="height" [view]="view"></app-card-store>
                </div>
            </div>
            <!-- contenedor del componente de la paginacion -->
            <div class="paginacion">
                <app-pagination></app-pagination>
            </div>

        </div>
    </div>
    <!-- contenedor del componente de las etiquetas -->
    <div class="row etiquetas">
        <app-tags [tags]="tags" class="component"></app-tags>
    </div>
    <!-- contenedor del componente de la infomacion de venta -->
    <div class="row informacion">
        <app-information class="component"></app-information>
    </div>



    <div class="row footer">
        <app-footer class="component"></app-footer>
    </div>

</div>