<div class="container-fdm" [ngClass]="{'noScroll': filtros}">
    <!-- contenedor de la seccion de busqueda -->
    <div class="row busqueda">
        <!-- contenedor del componente de los filtros -->
        <div class="filtros">
            <app-filtros [filtrar]="filtros" (close)="openFiltros(false)"></app-filtros>
        </div>
        <!-- contenedor de la miga de pan -->
        <div class="contenedor">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Página de inicio</a></li>
                    <li class="breadcrumb-item"><a href="#">Comprar</a></li>
                    <li class="breadcrumb-item"><a href="#">Hombres</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Camisetas</li>
                </ol>
            </nav>
            <!-- contenedor del carrusel de los estilos -->
            <div class="slider">
                <app-carousel-style [slides]="carousel"></app-carousel-style>
            </div>
            <!-- contenedor del boton para abrir los filtros en movil -->
            <div class="boton-filtrar">
                <button class="filtrar" (click)="openFiltros(true)">
                    <span class="material-icons-outlined notranslate">filter_alt</span>
                    <span>Filtrar</span>
                </button>
            </div>
            <!-- contenedor  -->
            <div class="ordenamiento">
                <app-ordering (columnas)="setColumns($event)"></app-ordering>
            </div>

            <div class="resultados">
                <div *ngFor="let item of productos" class="producto" [ngStyle]="{width: width}">
                    <app-card-store [url]="item" [height]="height"></app-card-store>
                </div>
            </div>

            <div class="paginacion">
                <app-pagination></app-pagination>
            </div>

        </div>
    </div>

    <div class="row etiquetas">
        <app-tags [tags]="tags"></app-tags>
    </div>
</div>