<div class="contenedor">
    <div class="row opciones">
        <div class="col" [ngClass]="{'show': menuT}">
            <div class="encabezado" (click)="menuT=!menuT">
                <h6 class="titulo">TIENDA</h6>
                <span class="material-icons notranslate">expand_more</span>
            </div>
            <div class="menu">
                <a href="" *ngFor="let item of tienda">{{item}}</a>
            </div>
        </div>
        <div class="col" [ngClass]="{'show': menuN}">
            <div class="encabezado" (click)="menuN=!menuN">
                <h6 class="titulo">NOSOTROS</h6>
                <span class="material-icons notranslate">expand_more</span>
            </div>
            <div class="menu">
                <a href="" *ngFor="let item of nosotros">{{item}}</a>
            </div>
        </div>
        <div class="col" [ngClass]="{'show': menuA}">
            <div class="encabezado" (click)="menuA=!menuA">
                <h6 class="titulo">AYUDA</h6>
                <span class="material-icons notranslate">expand_more</span>
            </div>
            <div class="menu">
                <a href="" *ngFor="let item of ayuda">{{item}}</a>
            </div>
        </div>
        <div class="col redes">

            <h6 class="titulo">INTERACTÚA CON NOSOTROS</h6>

            <div class="menu">
                <div class="iconos">
                    <a href="">
                        <div class="icono mr-1">
                            <i class="fab fa-instagram"></i>
                        </div>Instagram
                    </a>
                    <a href=""><i class="fab fa-facebook mr-1"></i>Facebook</a>
                </div>
                <div class="iconos">
                    <a href="">
                        <div class="icono mr-1">
                            <i class="fab fa-twitter"></i>
                        </div>Twitter
                    </a>
                    <a href=""><i class="fab fa-pinterest mr-1"></i>Pinterest</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row inferior">
        <div class="logo">
            <img src="assets/img/logo2.png" alt="">
        </div>
        <div class="col copy-right">
            <p class="links">
                <a href="">Términos y condiciones</a> |
                <a href="">Política de privacidad</a> |
                <a href="">Proteccion de datos</a> |
                <a href="">Propiedad intelectual</a>
            </p>
            <p class="fdm">
                Fuera del molde Todos los derechos reservados
            </p>
            <p class="cato">
                Desarrollado por Grupo Tecnológico CATO SAS - Colombia
            </p>
        </div>
    </div>
</div>