/* estilos para el contenedor general de la modal */

::ng-deep.modal-borrador .modal-dialog {
    max-width: 40% !important;
    max-height: 70vh !important;
    margin: 15vh auto !important;
    border-radius: 5px;
}


/* estilos para el contenedor de la modal */

::ng-deep.modal-borrador .modal-dialog .modal-content {
    border-radius: 8px;
    max-height: 70vh;
}


/* estilos para el contenedor del encabezado de la modal */

.modal-header {
    padding: 3px 5px 3px 20px;
    justify-content: start;
    align-items: center;
    background: #d7d7d7;
    border-radius: 8px 8px 0px 0px;
}


/* estilos para el icono del encabezado de la modal */

.modal-header .save {
    font-size: 28px;
}


/* estilos para el titulo de la modal */

.modal-header .title {
    margin-bottom: 0;
    margin-left: 20px;
    line-height: 30px;
}


/* estilos para el boton cerrar de la modal */

.modal-header .cerrar {
    padding: 5px;
    margin-left: auto;
    border: none;
    background: none;
    display: flex;
    outline: none;
}


/* estilos para el icono del boton de cerrar la modal */

.modal-header .cerrar span {
    font-size: 20px;
}


/* estilos para el contenedor del cuerpo de la modal */

.modal-body {
    padding: 15px 5px;
}