<!-- contenedor de la modal de borrsdor -->
<ng-template #borrador let-modal class="borrador">
    <!-- contenedor del header de la modal -->
    <div class="modal-header">
        <span class="material-icons save notranslate">save</span>
        <h6 class="title">Borrador guardado</h6>
        <button type="button" class="cerrar" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span class="material-icons notranslate">close</span>
      </button>
    </div>
    <!-- contenedor del cuerpo de la modal -->
    <div class="modal-body">
        <app-borrador-content (openBorradores)="modalBorradores()" (close)="modal.close($event)" (dismiss)="modal.dismiss($event)"></app-borrador-content>
    </div>
</ng-template>