/* ::ng-deep.modal-dialog {
    max-width: 40% !important;
    max-height: 60vh !important;
    margin: 20vh auto !important;
    border-radius: 5px;
}

::ng-deep.modal-content {
    border-radius: 8px;
    height: 60vh;
}

.modal-header {
    padding: 5px 5px 5px 20px;
    justify-content: start;
    align-items: center;
    background: #d7d7d7;
    border-radius: 8px 8px 0px 0px;
}

.modal-header .save {
    font-size: 28px;
}

.modal-header .title {
    margin-bottom: 0;
    margin-left: 20px;
    line-height: 30px;
}

.modal-header .cerrar {
    padding: 5px;
    margin-left: auto;
    border: none;
    background: none;
    display: flex;
    outline: none;
}

.modal-header .cerrar span {
    font-size: 20px;
}

.modal-body {
    padding: 0;
}

@media screen and (max-width: 960px) {
    .btn {
        display: none;
    }
} */