<div class="container-fluid" [ngClass]="{'noscroll': activeFiltros}">
    <!-- contenedor del contenido de la modal de cambiar producto -->
    <div class="row producto">
        <div class="filtros">
            <!-- contenedor del encabezado de cambiar producto en movil -->
            <div class="row encabezado">
                <div class="col ruta">
                    <strong>Editar:</strong>
                    <a href="#" class="anterior">añadir</a>
                    <span class="actual">diseño</span>
                </div>
                <div class="col-auto px-0">
                    <button class="cerrar" (click)="abrirProducto('Null')">
                        <span class="material-icons">close</span>
                    </button>

                </div>

            </div>
            <!-- contenedor del campo de busqueda -->
            <div class="row buscador">
                <!-- contenedor del busacador -->
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Encuentra tu diseño">
                    <div class="input-group-append">
                        <button class="input-group-text" type="submit" id="suscribirse">
                            <span class="material-icons">search</span>
                        </button>
                    </div>
                </div>
                <!-- boton para ver filtros en movil -->
                <button class="filtrar" (click)="abrirFiltros(true)">Filtrar</button>
            </div>
            <!-- contenedor de los filtros -->
            <div #categorias class="row categorias" [class.active]="activeFiltros">

                <!-- encabezado de los filtros en movil -->
                <div class="encabezado">
                    <div class="col ruta">
                        <strong>Editar:</strong>
                        <a href="#" class="anterior">añadir</a>
                        <a href="#" class="anterior">diseño</a>
                        <span class="actual">filtros</span>
                    </div>
                    <div class="col-auto px-0">
                        <button class="cerrar" (click)="abrirFiltros(false)">
                            <span class="material-icons">close</span>
                        </button>
                    </div>
                </div>

                <a class="todos" href="#">TODOS</a>
                <!-- componente de los filtros radiobuttom -->
                <app-filtros-radio class="box" *ngFor="let item of radioFilter" [nombre]="item.name" [items]="item.items"></app-filtros-radio>
                <!-- componente del filtro de los colores -->
                <app-filtros-color class="box" [nombre]="'Colores'" [items]="colores"></app-filtros-color>
                <!-- componente del filtro de rango de precio -->
                <app-filtro-precio class="box" [nombre]="'Precio'"></app-filtro-precio>
                <!-- componente de los filtros chequeables -->
                <app-filtros-check class="box" *ngFor="let item of checkFilter" [nombre]="item.name" [items]="item.items" [active]="true"></app-filtros-check>

            </div>
            <!-- contenedor del boton para aplicar filtros seleccionados -->
            <div class="row aplicar" [class.active]="activeFiltros">
                <button class="btn-aplicar">
                    <span class="material-icons-outlined">filter_alt</span>
                    Aplicar filtro
                </button>
            </div>
        </div>
        <!-- contenedor de los resultados de productos-->
        <div class="contenido">
            <app-resultados></app-resultados>
        </div>

    </div>
</div>