<div class="container-fluid">
    <div class="row diseño">
        <div class="col-3 filtros">
            <!-- buscador -->
            <div class="row buscador">
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Encuentra tu diseño">
                    <div class="input-group-append">
                        <button class="input-group-text" type="submit" id="suscribirse">
                            <span class="material-icons">search</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row categorias">

                <a class="todos" href="#">TODOS</a>

                <a class="categ" data-toggle="collapse" href="#collapsecategorias" role="button" [class.active]="activeCategorias" (click)="activeCategorias=!activeCategorias">
                    <div class="col">Categorias</div>
                    <div class="col-auto">
                        <span class="material-icons">arrow_forward_ios</span>
                    </div>
                </a>
                <div class="collapse show" id="collapsecategorias">
                    <app-radio [radios]="categorias"></app-radio>
                </div>

                <a class="productos" data-toggle="collapse" href="#collapseproductos" role="button" [class.active]="activeProductos" (click)="activeProductos=!activeProductos">
                    <div class="col">Productos</div>
                    <div class="col-auto">
                        <span class="material-icons">arrow_forward_ios</span>
                    </div>
                </a>
                <div class="collapse show" id="collapseproductos">
                    <app-radio [radios]="productos"></app-radio>
                </div>

                <a class="colores" data-toggle="collapse" href="#collapsecolores" role="button" [class.active]="activeColores" (click)="activeColores=!activeColores">
                    <div class="col">Colores</div>
                    <div class="col-auto">
                        <span class="material-icons">arrow_forward_ios</span>
                    </div>
                </a>
                <div class="collapse show" id="collapsecolores">
                    <app-checkbox [checks]="colores"></app-checkbox>
                </div>

                <a class="talla" data-toggle="collapse" href="#collapsetalla" role="button" [class.active]="activeTalla" (click)="activeTalla=!activeTalla">
                    <div class="col">Talla</div>
                    <div class="col-auto">
                        <span class="material-icons">arrow_forward_ios</span>
                    </div>
                </a>
                <div class="collapse show" id="collapsetalla">
                    <app-checkbox [checks]="talla"></app-checkbox>
                </div>

                <a class="precio" data-toggle="collapse" href="#collapseprecio" role="button" [class.active]="activePrecio" (click)="activePrecio=!activePrecio">
                    <div class="col">Precio</div>
                    <div class="col-auto">
                        <span class="material-icons">arrow_forward_ios</span>
                    </div>
                </a>
                <div class="collapse show" id="collapseprecio">
                    <app-slider></app-slider>
                </div>

                <a class="caras" data-toggle="collapse" href="#collapsecaras" role="button" [class.active]="activeCaras" (click)="activeCaras=!activeCaras">
                    <div class="col">Caras imprimibles</div>
                    <div class="col-auto">
                        <span class="material-icons">arrow_forward_ios</span>
                    </div>
                </a>
                <div class="collapse show" id="collapsecaras">
                    <app-checkbox [checks]="caras"></app-checkbox>
                </div>

                <a class="material" data-toggle="collapse" href="#collapsematerial" role="button" [class.active]="activeMaterial" (click)="activeMaterial=!activeMaterial">
                    <div class="col">Material</div>
                    <div class="col-auto">
                        <span class="material-icons">arrow_forward_ios</span>
                    </div>
                </a>
                <div class="collapse show" id="collapsematerial">
                    <app-checkbox [checks]="material"></app-checkbox>
                </div>

                <a class="cuello" data-toggle="collapse" href="#collapsecuello" role="button" [class.active]="activeCuello" (click)="activeCuello=!activeCuello">
                    <div class="col">Tipo de cuello</div>
                    <div class="col-auto">
                        <span class="material-icons">arrow_forward_ios</span>
                    </div>
                </a>
                <div class="collapse show" id="collapsecuello">
                    <app-checkbox [checks]="cuello"></app-checkbox>
                </div>

                <a class="manga" data-toggle="collapse" href="#collapsemanga" role="button" [class.active]="activeManga" (click)="activeManga=!activeManga">
                    <div class="col">Tipo de manga</div>
                    <div class="col-auto">
                        <span class="material-icons">arrow_forward_ios</span>
                    </div>
                </a>
                <div class="collapse show" id="collapsemanga">
                    <app-checkbox [checks]="manga"></app-checkbox>
                </div>

                <a class="impresion" data-toggle="collapse" href="#collapseimpresion" role="button" [class.active]="activeImpresion" (click)="activeImpresion=!activeImpresion">
                    <div class="col">Metodo de impresión</div>
                    <div class="col-auto">
                        <span class="material-icons">arrow_forward_ios</span>
                    </div>
                </a>
                <div class="collapse show" id="collapseimpresion">
                    <app-checkbox [checks]="impresion"></app-checkbox>
                </div>

            </div>
            <div class="row aplicar">
                <button class="btn-aplicar">
                    <span class="material-icons-outlined">filter_alt</span>
                    Aplicar filtro
                </button>
            </div>
        </div>

        <div class="col-9 contenido">

        </div>

    </div>
</div>