.container-fluid {
    height: 100%;
    max-height: 100%;
    padding: 0px;
}


/* estilos para el contenedor del contenido de la modal de cambiar producto */

.producto {
    max-height: 100%;
    margin: 0px;
}


/* estilos del contenedor de los filtros y el campo de busqueda*/

.filtros {
    padding: 10px 15px;
    flex: 0 0 25%;
    max-width: 25%;
}


/* estilos para el contenedor de los resultados de cambiar producto */

.contenido {
    flex: 0 0 75%;
    max-width: 75%;
    padding: 10px 5px;
    max-height: calc(90vh - 46px);
    overflow-y: auto;
}


/* estilos de los encabezados para movil */

.filtros .encabezado {
    display: none;
}


/* estilos para el contenedor del campo de busqueda */

.filtros .buscador {
    margin: 0;
}


/* estilos para el buscador y el boton buscar */

.buscador .form-control,
.buscador .input-group-text {
    font-size: 14px;
    line-height: 14px;
}


/* estilos para boton buscar */

.buscador .input-group-text {
    padding: 4px 5px;
    color: #ff0000;
    background-color: #d7d7d7;
    outline: none;
}


/* estilos para el boton de los filtros en movil */

.buscador .filtrar {
    display: none;
    width: fit-content;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 14px;
    background: #d7d7d7;
    color: #ff0000;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    outline: none;
}


/* estilos para el contenedor de los filtros */

.categorias {
    margin: 10px 0px 0px 0px;
    padding: 0px 5px;
    max-height: calc(73vh - 46px);
    overflow-y: auto;
}


/* estilos para los componentes de los filtros radios, checbox, precio y colores */

.categorias .box {
    width: 100%;
}


/* estilos para el titulo de los filtros */

.categorias .todos {
    width: 100%;
    color: #000000;
    background: #d7d7d7;
    text-align: center;
    margin-top: 3px;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    border-radius: 4px 4px 0px 0px;
    transition: all .3s ease;
}


/* estilos para el scroll del contenedor de los filtros y el contenedor de los resultados de diseños*/

.contenido::-webkit-scrollbar,
.categorias::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenido::-webkit-scrollbar:vertical,
.categorias::-webkit-scrollbar:vertical {
    width: 6px;
}

.contenido::-webkit-scrollbar-button:increment,
.contenido::-webkit-scrollbar-button,
.categorias::-webkit-scrollbar-button:increment,
.categorias::-webkit-scrollbar-button {
    display: none;
}

.contenido::-webkit-scrollbar-thumb,
.categorias::-webkit-scrollbar-thumb {
    background-color: #d7d7d7;
    border-radius: 20px;
}

.contenido::-webkit-scrollbar-track,
.categorias::-webkit-scrollbar-track {
    background-color: #eeeeee;
    border-radius: 10px;
}


/* estilos para el contenedor del boton para aplicar filtros */

.aplicar {
    margin: 0px;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}


/* estilos para el boton de aplicar filtros */

.btn-aplicar {
    width: 80%;
    background: #ff0000;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    outline: none;
}


/* estilos para dispositivos moviles */

@media screen and (max-width: 960px) {
    /* estilos para el contenedor general de cambiar producto */
    .container-fluid {
        position: fixed;
        background: #ffffff;
        z-index: 2;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        overflow-y: auto;
    }
    /* estilos para el contenedor general de la modal cuando se agrega la clase noscroll */
    .container-fluid.noscroll {
        max-height: 100vh;
        overflow-y: hidden;
    }
    /* estilos para el contenedor del contenido de la modal */
    .filtros {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        padding-top: 0px;
    }
    /* estilos para los encabezados de cambiar producto y filtros en version movil */
    .filtros .encabezado,
    .categorias .encabezado {
        display: flex;
        background: #d7d7d7;
        padding: 0px 7px 0px 15px;
    }
    /* estilos para el encabezado de los filtros */
    .categorias .encabezado {
        width: 100%;
        height: fit-content;
    }
    /* estilos para el contenedor de la miga de pan */
    .encabezado .ruta {
        display: flex;
        align-items: center;
        padding: 0px;
    }
    /* estilos para las rutas anteriores a la actual */
    .ruta .anterior {
        margin: 0px;
        padding: 0px 7px;
        width: fit-content;
        border-right: 1px solid #555555;
        color: #000000;
        font-size: 16px;
        line-height: 16px;
        border-radius: 0px;
        text-decoration: underline;
    }
    /* estilos para la ruta actual */
    .ruta .actual {
        padding: 0px 7px;
    }
    /* estilos para el boton de cerrar cambiar producto en movil */
    .encabezado .cerrar {
        padding: 6px;
        background: none;
        border: none;
        height: 40px;
    }
    /* estilos para el icono del boton de cerrar */
    .cerrar .material-icons {
        font-size: 28px;
    }
    /* estilos para el contenedor del campo de busqueda */
    .filtros .buscador {
        margin-top: 10px;
    }
    /* estilos para el contenedor del buscador */
    .buscador .input-group {
        width: calc(100% - 62px);
        padding-right: 5px;
    }
    /* estilos para el boton de abrir los filtros */
    .buscador .filtrar {
        display: block;
    }
    /* estilos para el contenedor de los filtros */
    .filtros .categorias {
        position: fixed;
        z-index: 30;
        height: calc(100vh - 55px);
        max-height: calc(100vh - 55px);
        width: 100vw;
        top: 0;
        left: 0px;
        display: none;
        background: #ffffff;
        overflow-y: auto;
        margin-top: 0px;
        padding: 0px;
    }
    /* estilos para el contenedor de los filtros cuando se abren en movil */
    .filtros .categorias.active {
        display: flex;
        align-content: flex-start;
    }
    /* estilos para los contenedores de los filtros y el titulo */
    .categorias .todos,
    .categorias .box {
        margin-left: 10px;
        margin-right: 10px;
        height: fit-content;
    }
    /* estilos para el contenedor del boton de aplicar filtros */
    .filtros .aplicar {
        position: fixed;
        z-index: 30;
        background: #ffffff;
        width: 100vw;
        bottom: 0;
        left: 0;
        box-shadow: 0px 0px 7px 0px #555555;
        display: none;
    }
    /* estilos para el contenedor del boton aplicar filtros cuando se abren los filtros */
    .filtros .aplicar.active {
        display: flex;
    }
    /* estilos para el contenedor de los resultados de los productos */
    .contenido {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        max-height: fit-content;
        padding-top: 0px;
    }
}