/* estilos del menu superior */

.encabezado {
    display: none;
    background: #d7d7d7;
    padding: 0px 7px 0px 15px;
    margin: 0px -15px;
}


/* estilos de la miga de pan */

.encabezado .ruta {
    display: flex;
    align-items: center;
    padding: 0px;
}


/* estilos de las secciones anteriores a la actual */

.ruta .anterior {
    margin: 0px;
    padding: 0px 7px;
    width: fit-content;
    border-right: 1px solid #555555;
    color: #000000;
    font-size: 16px;
    line-height: 16px;
    border-radius: 0px;
    text-decoration: underline;
}


/* estilos de la seccion actual */

.ruta .actual {
    padding: 0px 7px;
}


/* estilos del boton cerrar */

.encabezado .cerrar {
    padding: 6px;
    background: none;
    border: none;
    height: 40px;
}


/* estilos del icono dentro del boton cerrar */

.cerrar .material-icons {
    font-size: 28px;
}


/* estilos para el contenedor general del componente */

.container-fluid {
    max-height: calc(90vh - 46px);
    overflow-y: auto;
}


/* estilos para el texto informativo superior */

.texto {
    font-size: 14px;
    margin: 10px 5px;
    color: #555555;
}


/* estilos para el enlace de mas informacion */

.masInfo {
    font-size: 14px;
    color: #000000;
    margin: 10px 0px;
    text-decoration: underline;
}


/* estilos para el contenedor de los borradores */

.borradores {
    margin: 0px;
}


/* estilos para el contenedor de cada borrador */

.contenedor {
    width: 50%;
    padding: 5px;
}


/* contenedor de borrador */

.contenedor .borrador {
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    padding: 10px;
}


/* contenedor de la imagen del borrador */

.borrador .img {
    max-width: 30%;
    background: #eeeeee;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* estilos para la imagen */

.borrador .img .producto {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}


/* estilos para el contenedor de la informacion del producto*/

.borrador .detalles {
    padding: 0px 10px;
    font-size: 14px;
    color: #555555;
    display: flex;
    flex-direction: column;
}


/* estilos para el boton de añadir al carrito */

.detalles .carrito {
    display: flex;
    align-items: center;
    background: #ffffff;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    margin-top: 10px;
    max-width: max-content;
    outline: none;
}


/* estilos para el efecto hover sobre el boto de añadir al carrito */

.detalles .carrito:hover {
    padding: 9px;
    border: 2px solid #ff0000;
}


/* estilos para el contenedor de los botones inferiores del borrador */

.botones {
    max-width: 100%;
    padding: 0px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}


/* estilos para los botones */

.botones button {
    display: flex;
    align-items: center;
    background: #ffffff;
    border: none;
    border-radius: 5px;
    color: #555555;
    font-size: 14px;
    font-weight: bold;
    outline: none;
}


/* estilos para el efecto hover de los botones */

.botones button:hover {
    background: #eeeeee;
}


/* estilos para el escroll personalizado del contenedor general */

.container-fluid::-webkit-scrollbar {
    -webkit-appearance: none;
}

.container-fluid::-webkit-scrollbar:vertical {
    width: 6px;
}

.container-fluid::-webkit-scrollbar-button:increment,
.container-fluid::-webkit-scrollbar-button {
    display: none;
}

.container-fluid::-webkit-scrollbar:horizontal {
    height: 6px;
}

.container-fluid::-webkit-scrollbar-thumb {
    background-color: #d7d7d7;
    border-radius: 20px;
}

.container-fluid::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #eeeeee;
}


/* estilos para la version movil */

@media screen and (max-width: 960px) {
    /* estilos para el contenedor general del componente */
    .container-fluid {
        position: fixed;
        background: #ffffff;
        top: 0;
        left: 0;
        z-index: 4;
        height: 100vh;
        max-height: 100vh;
        width: 100vw;
    }
    /* estilos para el encabezado version movil */
    .encabezado {
        display: flex;
    }
    /* estilos para el contenedor del texto informativo superior */
    .container-fluid .row.info {
        display: none;
    }
    /* esilos para el contenedor del borrador */
    .contenedor {
        width: 100%;
        padding: 0px;
        border-bottom: 1px solid #d7d7d7;
    }
    /* estilos para el borrador */
    .contenedor .borrador {
        border: none;
        padding: 10px 0;
    }
    /* estilos para el contenedor de la imagen */
    .borrador .img {
        max-width: 50%;
        padding: 5px 0px;
    }
    /* estilos para el titulo de la informacion del borrador */
    .detalles .titulo {
        display: none;
    }
    /* estilos para el nombre del producto */
    .detalles .nombre {
        font-weight: bold;
    }
    /* estilos para los botones inferiores del borrador */
    .botones button {
        padding: 1px 4px;
    }
}