<ng-template #borradores let-modal class="borrador">
    <div class="modal-header">
        <span class="material-icons save notranslate">save</span>
        <h6 class="title">Editar:</h6>
        <a href="#">Guardar</a>
        <a href="#" class="separador">mis borradores</a>
        <button type="button" class="cerrar" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span class="material-icons notranslate">close</span>
        </button>
    </div>
    <div class="modal-body">
        <app-mis-borradores></app-mis-borradores>
    </div>
</ng-template>