<div class="contenedor">
    <!-- contenedor de la seccion de las garantias de venta -->
    <div class="row info mx-0">
        <!-- contenedor del titulo de la seccion  -->
        <div class="col-12 px-0">
            <h4 class="titulo text-center mb-2 mb-md-4">Satisfacción 100% garantizada</h4>
        </div>
        <!-- contenedor de pagos seguros -->
        <div class="col-lg-3 col-6">
            <span class="material-icons notranslate">security</span>
            <p class="bold">Pagos seguros</p>
            <p class="texto">Compra con total seguridad a través de crédito, débito o efectivo</p>
            <a class="mas-info" href="#">Más información</a>
        </div>
        <!-- contenedor de devoluciones gratuitas -->
        <div class="col-lg-3 col-6">
            <span class="material-icons notranslate">compare_arrows</span>
            <p class="bold">Devoluciones gratuitas</p>
            <p class="texto">15 días para efectuar cambios gratuitos en cualquier penda</p>
            <a class="mas-info" href="#">Más información</a>
        </div>
        <!-- contenedor de acesoria personalizada -->
        <div class="col-lg-3 col-6">
            <span class="material-icons notranslate">headset_mic</span>
            <p class="bold">Acesoría personalizada</p>
            <p class="texto">Estamos disponibles de lunes a viernes de 9:00 am a 6:00 pm</p>
            <a class="mas-info" href="#">Más información</a>
        </div>
        <!-- contenedor de envios a toda colombia -->
        <div class="col-lg-3 col-6">
            <span class="material-icons-outlined notranslate">local_shipping</span>
            <p class="bold">Envíos a toda Colombia</p>
            <p class="texto">Sigue tu pedido con nuestros proveedores de envió</p>
            <a class="mas-info" href="#">Más información</a>
        </div>

    </div>
    <!-- contenedor de la seccion de suscribirse y metodos de pago  -->
    <div class="row pagos">
        <!-- contenedor de suscribirse al boletin -->
        <div class="col-12 col-md-6 pagos-col borde">
            <h4 class="titulo mb-2 mb-md-4">Suscríbete a nuestro boletín</h4>
            <p class="texto">Para enterarte de todas nuestras ofertas, promociones y sorteos</p>
            <a class="mas-info" href="#">Más información sobre nuestro boletín</a>
            <!-- contenedor del campo para el correo y el boton suscribirse -->
            <div class="input-group my-2">
                <input type="email" class="form-control" placeholder="Tu correo electrónico">
                <div class="input-group-append">
                    <button class="input-group-text" type="submit" id="suscribirse">Suscribirse</button>
                </div>
            </div>
        </div>
        <!-- contenedor de metodos de pago -->
        <div class="col-12 col-md-6 pagos-col">
            <h4 class="titulo">Métodos de pago</h4>
            <!-- imagen de los metodos de pago -->
            <img class="img-fluid" src="assets/img/pagos.png" alt="">
        </div>
    </div>
</div>