<div class="container-fluid" [ngClass]="{'noscroll': activeFiltros}">
    <div class="row diseño">
        <div class="filtros">
            <!-- encabezado de diseños en movil -->
            <div class="row encabezado">
                <div class="col ruta">
                    <strong>Editar:</strong>
                    <a href="#" class="anterior">añadir</a>
                    <span class="actual">diseño</span>
                </div>
                <div class="col-auto px-0">
                    <button class="cerrar" (click)="abrirDisenio('Null')">
                        <span class="material-icons">close</span>
                    </button>

                </div>

            </div>
            <!-- campo de busqueda -->
            <div class="row buscador">
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Encuentra tu diseño">
                    <div class="input-group-append">
                        <button class="input-group-text" type="submit" id="suscribirse">
                            <span class="material-icons">search</span>
                        </button>
                    </div>
                </div>
                <!-- boton para ver filtros en movil -->
                <button class="filtrar" (click)="abrirFiltros(true)">Filtrar</button>
            </div>
            <!-- contenedor de los filtros -->
            <div #categorias class="row categorias" [class.active]="activeFiltros">

                <!-- encabezado de los filtros en movil -->
                <div class="encabezado">
                    <div class="col ruta">
                        <strong>Editar:</strong>
                        <a href="#" class="anterior">añadir</a>
                        <a href="#" class="anterior">diseño</a>
                        <span class="actual">filtros</span>
                    </div>
                    <div class="col-auto px-0">
                        <button class="cerrar" (click)="abrirFiltros(false)">
                            <span class="material-icons">close</span>
                        </button>
                    </div>
                </div>

                <a class="todos" href="#">TODOS</a>

                <app-filtros-check class="box" *ngFor="let filtro of checkFilter" [active]="true" [nombre]="filtro.name" [items]="filtro.items"></app-filtros-check>

                <app-filtro-precio class="box" [nombre]="'Precio'"></app-filtro-precio>
            </div>

            <!-- boton para aplicar filtros seleccionados -->
            <div class="row aplicar" [class.active]="activeFiltros">
                <button class="btn-aplicar">
                    <span class="material-icons-outlined">filter_alt</span>
                    Aplicar filtro
                </button>
            </div>
        </div>
        <!-- contenedor de los diseños encontrados-->
        <div class="contenido">
            <app-results [colecciones]="checkFilter[1].items"></app-results>
        </div>

    </div>
</div>