.container-fluid {
    height: 100%;
    max-height: 100%;
    padding: 0px;
}

.diseño {
    max-height: 100%;
    margin: 0px;
}

.filtros,
.contenido {
    padding: 10px 15px;
    max-height: calc(90vh - 40px);
    overflow-y: auto;
}

.filtros .buscador,
.filtros .categorias {
    margin: 0;
}

.buscador .form-control,
.buscador .input-group-text {
    font-size: 14px;
    line-height: 14px;
}

.buscador .input-group-text {
    padding: 4px 5px;
    color: #ff0000;
}


/* CATEGORIAS */

.categorias {
    padding: 10px 0;
}

.categorias a {
    width: 100%;
    color: #000000;
    background: #d7d7d7;
    text-align: center;
    margin-top: 3px;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    border-radius: 4px 4px 4px 4px;
    transition: all .3s ease;
}

.categorias .precio,
.categorias .todos {
    border-radius: 4px 4px 0px 0px;
}

.categorias a .col {
    padding: 0px 5px;
}

.categorias a .col-auto {
    padding: 0px 5px;
    display: flex;
    align-items: center;
}

.categorias a .col-auto span {
    font-size: 13px;
    transform: rotate(90deg);
    color: #ff0000;
    transition: all .3s ease;
}


/* interacciones del grupo */

.categorias .menores.active {
    border-radius: 4px 4px 0px 0px;
}

.categorias .menores.active .col-auto span {
    transform: rotate(-90deg);
}

.categorias .categ.active {
    border-radius: 4px 4px 0px 0px;
}

.categorias .categ.active .col-auto span {
    transform: rotate(-90deg);
}

.categorias .colecciones.active {
    border-radius: 4px 4px 0px 0px;
}

.categorias .colecciones.active .col-auto span {
    transform: rotate(-90deg);
}

.categorias .fondos.active {
    border-radius: 4px 4px 0px 0px;
}

.categorias .fondos.active .col-auto span {
    transform: rotate(-90deg);
}

.categorias .estilos.active {
    border-radius: 4px 4px 0px 0px;
}

.categorias .estilos.active .col-auto span {
    transform: rotate(-90deg);
}

.categorias .propiedades.active {
    border-radius: 4px 4px 0px 0px;
}

.categorias .propiedades.active .col-auto span {
    transform: rotate(-90deg);
}

.categorias .precio.active {
    border-radius: 4px 4px 0px 0px;
}

.categorias .precio.active .col-auto span {
    transform: rotate(-90deg);
}


/* interacciones del grupo 

*/

#collapsemenores,
#collapsecategorias,
#collapsecolecciones,
#collapsefondos,
#collapseestilos,
#collapsepropiedades,
#collapseprecio {
    width: 100%;
    padding: 4px;
    margin-bottom: 4px;
    font-size: 14px;
    border: 1px solid #d7d7d7;
    border-radius: 0px 0px 4px 4px;
    border-top: none;
    transition: all .3s ease;
}

.form-check-label {
    line-height: 15px;
}

.form-check input[type=checkbox]:checked {
    background-color: #ff0000;
}