<div class="container-fdm" [ngClass]="{'noscroll': controlModal!='Null'}">
    <!-- contenedor de los botones para las modales -->
    <div class="row modales">
        <div class="col-auto px-1">
            <a [routerLink]="['/store','hombres-camisetas']" class="btn btn-outline-primary">Tienda</a>
        </div>
        <div class="col-auto px-1">
            <a [routerLink]="['/categories','hombres']" class="btn btn-outline-primary">Hombres</a>
        </div>
        <div class="col-auto px-1">
            <a [routerLink]="['/categories','mujeres']" class="btn btn-outline-primary">Mujeres</a>
        </div>
        <div class="col-auto px-1">
            <a [routerLink]="['/offers']" class="btn btn-outline-primary">Ofertas</a>
        </div>
        <div class="col-auto px-1">
            <a [routerLink]="['/gift-cards']" class="btn btn-outline-primary">Tarjetas de regalo</a>
        </div>
        <div class="col-auto px-1">
            <button class="btn btn-outline-primary" (click)="modalProducto();modalMovile('cambiar')">Cambiar producto</button>
            <app-filtros-cambiar *ngIf="controlModal=='cambiar'" (activeProduct)="modalMovile($event)"></app-filtros-cambiar>
            <app-cambiar></app-cambiar>
        </div>
        <div class="col-auto px-1">
            <button class="btn btn-outline-primary" (click)="modalDetalle();modalMovile('detalles')">Detalles del producto</button>
            <app-info *ngIf="controlModal=='detalles'" (close)="modalMovile('Null')"></app-info>
            <app-detalle></app-detalle>
        </div>
        <div class="col-auto px-1">
            <button class="btn btn-outline-primary" (click)="modalDisenio();modalMovile('diseño')">Diseño</button>
            <app-design-content *ngIf="controlModal=='diseño'" (activeDesign)="modalMovile($event)"></app-design-content>
            <app-design></app-design>
        </div>
        <div class="col-auto px-1">
            <button class="btn btn-outline-primary" (click)="modalBorrador();modalMovile('borrador')">Borrador</button>
            <app-borrador-content *ngIf="controlModal=='borrador'" (close)="modalMovile('Null')" (openBorradores)="modalMovile('borradores')"></app-borrador-content>
            <app-borrador></app-borrador>
        </div>
        <div class="col-auto px-1">
            <button class="btn btn-outline-primary" (click)="modalBorradores();modalMovile('borradores')">Borradores</button>
            <app-mis-borradores *ngIf="controlModal=='borradores'" (close)="modalMovile($event)"></app-mis-borradores>
            <app-borradores></app-borradores>
        </div>
    </div>
</div>

<!-- contenedor de la venta cruzada y la infomacion de venta -->
<div class="container-fdm" [ngClass]="{'noscroll': controlModal!='Null'}">
    <!-- contenedor de la venta cruzada -->
    <div class="row">
        <app-venta-cruzada class="component"></app-venta-cruzada>
    </div>
    <!-- contenedor de las etiquetas del producto actual -->
    <div class="row etiquetas">
        <app-tags [tags]="tags" class="component"></app-tags>
    </div>
    <!-- contenedor de la informacion de venta y pagos -->
    <div class="row informacion">
        <app-information class="component"></app-information>
    </div>




    <div class="row footer">
        <app-footer class="component"></app-footer>
    </div>

</div>