<div class="container-fluid" [ngClass]="{'noscroll': controlModal!='Null'}">
    <!-- contenedor de los botones para las modales -->
    <div class="row modales">
        <div class="col-auto px-1">
            <a [routerLink]="['/store']" class="btn btn-outline-primary">tienda</a>
        </div>
        <div class="col-auto px-1">
            <button class="btn btn-outline-primary" (click)="modalProducto();modalMovile('cambiar')">Cambiar producto</button>
            <app-filtros-cambiar *ngIf="controlModal=='cambiar'" (activeProduct)="modalMovile($event)"></app-filtros-cambiar>
            <app-cambiar></app-cambiar>
        </div>
        <div class="col-auto px-1">
            <button class="btn btn-outline-primary" (click)="modalDetalle();modalMovile('detalles')">Detalles del producto</button>
            <app-info *ngIf="controlModal=='detalles'" (close)="modalMovile('Null')"></app-info>
            <app-detalle></app-detalle>
        </div>
        <div class="col-auto px-1">
            <button class="btn btn-outline-primary" (click)="modalDisenio();modalMovile('diseño')">Diseño</button>
            <app-design-content *ngIf="controlModal=='diseño'" (activeDesign)="modalMovile($event)"></app-design-content>
            <app-design></app-design>
        </div>
        <div class="col-auto px-1">
            <button class="btn btn-outline-primary" (click)="modalBorrador();modalMovile('borrador')">Borrador</button>
            <app-borrador-content *ngIf="controlModal=='borrador'" (close)="modalMovile('Null')" (openBorradores)="modalMovile('borradores')"></app-borrador-content>
            <app-borrador></app-borrador>
        </div>
        <div class="col-auto px-1">
            <button class="btn btn-outline-primary" (click)="modalBorradores();modalMovile('borradores')">Borradores</button>
            <app-mis-borradores *ngIf="controlModal=='borradores'" (close)="modalMovile($event)"></app-mis-borradores>
            <app-borradores></app-borradores>
        </div>
    </div>
</div>

<!-- contenedor de la venta cruzada -->
<div class="container-fluid" [ngClass]="{'noscroll': controlModal!='Null'}">
    <!-- contenedor del titulo de la venta cruzada -->
    <div class="row">
        <h4 class="titulo">Este diseño en otros productos</h4>
    </div>
    <!-- contenedor del componente del menu con los carousel de cada item del menu -->
    <div class="row">
        <app-menu class="w-100"></app-menu>
    </div>
    <div class="row">
        <!-- contenedor de otros usuarios tambien compraron -->
        <div class="col otros">
            <h4 class="titulo mb-2">Otros usuarios también compraron:</h4>
            <app-carousel></app-carousel>
        </div>
    </div>
    <div class="row">
        <!-- contenedor de diseños similares -->
        <div class="col fondo-s">
            <h4 class="titulo similares mb-2">Diseños similares:</h4>
            <app-carousel></app-carousel>
        </div>
    </div>
    <!-- contenedor de las etiquetas del producto actual -->
    <div class="row fondo-img">
        <!-- titulo de las etiquetas -->
        <h4 class="titulo w-100 mb-3">También te puede interesar:</h4>
        <!-- contenedor de las etiquetas -->
        <div class="container-tags">
            <div *ngFor="let tag of tags" class="col-auto tags">
                <span class="tag">{{tag}}</span>
            </div>
        </div>

    </div>
    <div class="row informacion">
        <app-information class="component"></app-information>
    </div>

</div>