<div class="container-fluid">
    <!-- contenedor del banner -->
    <div class="row banner">
        <!-- contenedor de la parte izquierda del banner -->
        <div class="left">
            <!-- contenedor diagonal de la parte izquierda del banner -->
            <div class="diag">
                <!-- contenedor de la imagen -->
                <div class="image">
                    <img [src]="banner1" alt="">
                    <!-- <video loop oncanplay="this.play()" onloadedmetadata="this.muted = true" [poster]="banner1">
                        <source [src]="video1" type="video/mp4">
                    </video> -->
                </div>
                <!-- contenedor del texto y el botón -->
                <div class="content">
                    <h4 class="title">Personaliza tú mismo</h4>
                    <p class="text">Artículos con ese toque personal que los hará únicos.</p>
                    <!-- contenedor del botón -->
                    <div class="botton">
                        <!-- botón de ir -->
                        <button class="btn-go">
                            Personalizar
                            <!-- icono del botón -->
                            <span class="material-icons-outlined notranslate">chevron_right</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- contenedor de la parte derecha del banner -->
        <div class="right">
            <!-- contenedor diagonal de la parte derecha del banner -->
            <div class="diag">
                <!-- contenedor de la  imagen del banner -->
                <div class="image">
                    <img [src]="banner2" alt="">
                </div>
                <!-- contenedor del texto y el botón -->
                <div class="content">
                    <h4 class="title">Regala</h4>
                    <p class="text">Regalos únicos para gente única.</p>
                    <!-- contenedor del botón -->
                    <div class="botton">
                        <!-- botón de ir -->
                        <button class="btn-go" [routerLink]="['/gifts']">
                            Ver regalos
                            <!-- icono del botón -->
                            <span class="material-icons-outlined notranslate">chevron_right</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>