<div class="container-fdm">
    <!-- contenedor del banner superior -->
    <div class="row banner">
        <app-banner-top class="component" [url]="banner" [categori]="categori" [text]="text"></app-banner-top>
    </div>
    <!-- contenedor del menu de las subcategorías -->
    <div class="options">
        <!-- contenedor de el menu con imagenes -->
        <div class="images">
            <!-- contenedor de la columna izquierda de imagenes -->
            <div class="left">
                <!-- contenedor de la opción para ella -->
                <div class="ella">
                    <img src="assets/img/gifts/ella.png" alt="">
                    <div class="label">
                        <span>{{menu[0]}}</span>
                    </div>
                </div>
                <!-- contenedor de la opción para el -->
                <div class="el">
                    <img src="assets/img/gifts/el.png" alt="">
                    <div class="label">
                        <span>{{menu[1]}}</span>
                    </div>
                </div>
                <!-- contenedor de la opción para la familia -->
                <div class="familia">
                    <img src="assets/img/gifts/familia.png" alt="">
                    <div class="label">
                        <span>{{menu[3]}}</span>
                    </div>
                </div>
                <!-- contenedor de la opción para grupos -->
                <div class="grupos">
                    <img src="assets/img/gifts/grupos.png" alt="">
                    <div class="label">
                        <span>{{menu[5]}}</span>
                    </div>
                </div>
            </div>
            <!-- contenedor de la columna derecha de imagenes -->
            <div class="right">
                <!-- contenedor de la opción para la pareja -->
                <div class="pareja">
                    <img src="assets/img/gifts/pareja.png" alt="">
                    <div class="label">
                        <span>{{menu[2]}}</span>
                    </div>
                </div>
                <!-- contenedor de la opción para niños y bebes -->
                <div class="ninos">
                    <img src="assets/img/gifts/niños.png" alt="">
                    <div class="label">
                        <span>{{menu[4]}}</span>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <!-- contenedor de la opción para mascotas -->
                <div class="mascotas">
                    <img src="assets/img/gifts/mascotas.png" alt="">
                    <div class="label">
                        <span>{{menu[6]}}</span>
                    </div>
                </div>
            </div>

        </div>
        <!-- contenedor del menu de los productos -->
        <div class="bottons">
            <!-- botones del menu -->
            <button *ngFor="let item of menu">Regalos {{item.toLowerCase()}}</button>
            <button>Tarjetas de regalo</button>
        </div>
    </div>




    <div class="row footer">
        <app-footer class="component"></app-footer>
    </div>
</div>