/* estilos para el contenedor de la modal */

::ng-deep.modal-open .modal.share {
    display: flex !important;
    align-items: flex-end;
    justify-content: center;
}

::ng-deep.share .modal-dialog {
    max-width: 100% !important;
    max-height: 80vh !important;
    margin: auto 0 0 0 !important;
}

::ng-deep.share .modal-dialog .modal-content {
    border-radius: 8px 8px 0 0;
    width: fit-content;
    max-width: 100%;
    background: #d7d7d7;
}


/* estilos para el encabezado de la modal */

.modal-header {
    padding: 1px 10px;
    justify-content: start;
    align-items: center;
    border-radius: 8px 8px 0px 0px;
    border-bottom: none;
}


/* estilos para el titulo de la modal */

.modal-header .title {
    font-size: 18px;
    margin-bottom: 0;
    margin-left: 5px;
    line-height: 30px;
}


/* estilos para el boton de cerrar modal */

.modal-header .cerrar {
    padding: 5px;
    margin-left: auto;
    border: none;
    background: none;
    display: flex;
    outline: none;
}


/* estilos para el icono del botón cerrar */

.modal-header .cerrar span {
    font-size: 24px;
}


/* estilos para el contenedor del cuerpo de la modal */

.modal-body {
    padding: 0 15px 10px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* estilos para el componente de compartir */

.component {
    width: 100%;
}