<div class="card mx-1">
    <a href="#" class="img">
        <span class="descuento"></span>
        <span class="porcentaje">-50%</span>
        <svg class="estrella" xmlns="http://www.w3.org/2000/svg" width="40" height="34" viewBox="0 0 40 34" fill="none">
            <path d="M20 0.742722L23.6109 4.70905L23.8332 4.95319L24.145 4.84467L29.6005 2.94603L30.3816 7.83488L30.4414 8.20922L30.818 8.25269L36.5651 8.91612L34.4055 13.3995L34.2156 13.7937L34.5812 14.0342L39.0901 17L34.5812 19.9658L34.2156 20.2063L34.4055 20.6005L36.5651 25.0839L30.818 25.7473L30.4414 25.7908L30.3816 26.1651L29.6005 31.054L24.145 29.1553L23.8332 29.0468L23.6109 29.2909L20 33.2573L16.3891 29.2909L16.1668 29.0468L15.855 29.1553L10.3995 31.054L9.61844 26.1651L9.55863 25.7908L9.18203 25.7473L3.43492 25.0839L5.59452 20.6005L5.78443 20.2063L5.41883 19.9658L0.909857 17L5.41883 14.0342L5.78443 13.7937L5.59452 13.3995L3.43492 8.91612L9.18203 8.25269L9.55863 8.20922L9.61844 7.83488L10.3995 2.94603L15.855 4.84467L16.1668 4.95319L16.3891 4.70905L20 0.742722Z" fill="#333333" stroke="#FFFFFF"/>
        </svg>
        <span class="new">new</span>
        <img [src]="url" class="card-img-top" alt="">

        <div class="opciones">
            <a class="opcion carrito" href="#">
                <span class="material-icons-outlined">shopping_cart</span>
            </a>
            <a class="opcion" href="#">
                <span class="material-icons-outlined">share</span>
            </a>
            <a class="opcion" href="#">
                <span class="material-icons-outlined">favorite_border</span>
            </a>
            <a class="opcion" href="#">
                <span class="material-icons-outlined">create</span>
            </a>
        </div>

    </a>

    <div class="card-body">

        <div class="row contenedor">
            <div *ngIf="menorde8" class="col-auto colores">
                <div *ngFor="let color of colores" [style.background]="color" class="color"></div>
            </div>
            <div *ngIf="mayorde8" class="col-auto colores">
                <div *ngFor="let item of colores1" [style.background]="item" class="color"></div>
                <div *ngIf="mostrarMas" [style.background]="colores[7]" class="color"></div>
                <div *ngFor="let item of colores2" [style.background]="item" [class.ocultar]="!mostrarMas" class="color"></div>
                <button *ngIf="(!mostrarMas && !mayorde15) || (mostrarMas && !mayorde15) || (!mostrarMas && mayorde15)" class="color mas" (click)="mas()">{{cantidad}}</button>
                <a *ngIf="mostrarMas && mayorde15" href="#" class="color mas">{{cantidad}}</a>

            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div *ngFor="let talla of tallas" class="col talla">
                <a href="#" [class.disabled]="!disponible[(tallas.indexOf(talla))]">{{talla}}</a>
            </div>
        </div>


        <p class="card-text nombre">Nombre del producto "camiseta personalizada"</p>
        <p class="card-text coleccion">Coleccion del producto</p>
        <p class="card-text precio">$30.000 <small>$49.900</small></p>
    </div>
</div>