/* estilos para el contenedor del componente */

.container-fdm {
    width: 100%;
    padding: 0px 15px;
}

.options {
    display: flex;
    flex-direction: row;
    padding: 15px 60px;
}

.options .images {
    display: flex;
    flex-direction: row;
    width: 75%;
}

.images img {
    width: 100%;
    /* width: auto;
    max-width: 100%; */
    height: auto;
    border-radius: 12px;
    box-shadow: 0px 2px 3px 0px #555555;
    cursor: pointer;
}

.images img:hover {
    filter: contrast(.7);
    box-shadow: 0px -2px 3px 0px #555555;
}

.images .left {
    display: flex;
    flex-wrap: wrap;
    width: 66.6%;
}

.images .camisetas-movil {
    display: none;
}

.left .camisetas {
    width: 100%;
    padding: 5px;
}

.images .label {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: -50px;
    padding: 10px;
}

.label span {
    min-width: 150px;
    text-align: center;
    padding: 3px 6px;
    border-radius: 4px;
    background: #ffffffb2;
}

.left .sacos,
.left .gorras,
.left .tazas {
    width: 50%;
    padding: 5px;
}

.left .libretas-bolsas {
    width: 50%;
}

.libretas-bolsas .libretas,
.libretas-bolsas .bolsas {
    width: 100%;
    padding: 5px;
}

.images .right {
    display: flex;
    flex-wrap: wrap;
    width: 33.3%;
}

.right .hoodies,
.right .polos,
.right .tennis {
    width: 100%;
    padding: 5px;
}

.options .bottons {
    width: 25%;
    padding: 5px;
}

.bottons button {
    color: #555555;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    padding: 6px;
    background: #eeeeee;
    border: none;
    margin-bottom: 5px;
    outline: none;
}

.bottons button:first-child {
    border-radius: 12px 12px 0 0;
}

.bottons button:last-child {
    border-radius: 0 0 12px 12px;
}

.component {
    width: 100%;
}

@media screen and (min-width: 831px) {
    .images img:hover {
        opacity: .8;
        /* filter: contrast(.7); */
        box-shadow: 0px -2px 3px 0px #555555;
    }
    .bottons button:hover {
        background: #d7d7d7;
    }
}


/* estilos para versón móvil */

@media screen and (max-width: 830px) {
    .options {
        padding: 0 15px;
        flex-wrap: wrap;
    }
    .options .images {
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .images img:focus {
        filter: contrast(.7);
        box-shadow: 0px -2px 3px 0px #555555;
    }
    .images .camisetas-movil {
        display: block;
        padding: 2px;
    }
    .images .left,
    .images .right {
        width: 50%;
    }
    .left .camisetas {
        display: none;
    }
    .left .sacos,
    .left .gorras {
        width: 100%;
        padding: 2px;
    }
    .left .tazas {
        order: 5;
        width: 100%;
        padding: 2px;
    }
    .left .libretas-bolsas {
        order: 4;
        width: 100%;
    }
    .libretas-bolsas .libretas,
    .libretas-bolsas .bolsas {
        padding: 2px;
    }
    .images .label {
        margin-top: -32px;
        padding: 6px;
    }
    .label span {
        padding: 0;
        min-width: 115px;
        font-size: 14px;
    }
    .images .right {
        height: fit-content;
    }
    .right .hoodies,
    .right .polos,
    .right .tennis {
        padding: 2px;
    }
    .options .bottons {
        width: 100%;
        padding: 2px;
        margin-bottom: 15px;
    }
    .bottons button {
        margin-bottom: 2px;
    }
    .bottons button:focus {
        background: #d7d7d7;
    }
}


/* estilos para pantallas con mas de 1450px de ancho */

@media screen and (min-width: 1450px) {
    /* estilos para el contenedor del componente */
    .container-fdm {
        max-width: 1450px;
        margin: 0px auto;
    }
}