/* estilos para el contenedor del componente */

.container-fdm {
    width: 100%;
    padding: 0px 15px;
}

.options {
    display: flex;
    flex-direction: row;
    padding: 15px 60px;
}

.options .images {
    display: flex;
    flex-direction: row;
    width: 75%;
}

.images img {
    width: 100%;
    /* width: auto;
    max-width: 100%; */
    height: auto;
    border-radius: 12px;
    box-shadow: 0px 2px 3px 0px #555555;
    cursor: pointer;
}

.images img:hover {
    filter: contrast(.7);
    box-shadow: 0px -2px 3px 0px #555555;
}

.images .left {
    display: flex;
    flex-wrap: wrap;
    width: 66.6%;
}

.left .camisetas {
    width: 100%;
    padding: 5px;
}

.images .label {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: -56px;
    padding: 10px;
}

.label span {
    padding: 6px 30px;
    border-radius: 4px;
    background: #ffffffb2;
}

.left .sacos,
.left .gorras,
.left .tazas {
    width: 50%;
    padding: 5px;
}

.left .libretas-bolsas {
    width: 50%;
}

.libretas-bolsas .libretas,
.libretas-bolsas .bolsas {
    width: 100%;
    padding: 5px;
}

.images .right {
    display: flex;
    flex-wrap: wrap;
    width: 33.3%;
}

.right .hoodies,
.right .polos,
.right .tennis {
    width: 100%;
    padding: 5px;
}

.options .bottons {
    width: 25%;
    padding: 5px;
}

.options button {
    color: #555555;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    padding: 6px;
    background: #eeeeee;
    border: none;
    margin-bottom: 5px;
    outline: none;
}

.options button:first-child {
    border-radius: 12px 12px 0 0;
}

.options button:last-child {
    border-radius: 0 0 12px 12px;
}

.options button:hover {
    background: #d7d7d7;
}

.component {
    width: 100%;
}


/* estilos para pantallas con mas de 1450px de ancho */

@media screen and (min-width: 1450px) {
    /* estilos para el contenedor del componente */
    .container-fdm {
        max-width: 1450px;
        margin: 0px auto;
    }
}