/* estilos para el contenedor del componente */

.container-fdm {
    width: 100%;
    padding: 0px 15px;
}

.banner {
    overflow: hidden;
}

.section1 {
    padding: 20px 90px;
}

.section2 {
    padding: 20px 50px;
    background: #eeeeee;
}

.component {
    width: 100%;
}

@media screen and (max-width: 830px) {
    .section1 {
        padding: 15px 0;
        margin: 0;
        border-top: 1px solid #d7d7d7;
    }
    .section2 {
        padding: 15px;
    }
}


/* estilos para pantallas con mas de 1450px de ancho */

@media screen and (min-width: 1400px) {
    /* estilos para el contenedor del componente */
    .container-fdm {
        max-width: 1400px;
        margin: 0px auto;
    }
}