<div class="container-fdm">
    <div class="row banner-top">
        <app-banner-index-top class="component"></app-banner-index-top>
    </div>
    <div class="row section1">
        <app-menu-index class="component"></app-menu-index>
    </div>

    <div class="row section2">
        <app-products-index class="component"></app-products-index>
    </div>

    <div class="row banner">
        <app-banner-index class="component" [categori]="colecciones.name" [text]="colecciones.text" [url]="colecciones.image"></app-banner-index>
    </div>

    <div class="row custom">
        <app-guide-custom class="component"></app-guide-custom>
    </div>

    <div class="row banner">
        <app-banner-index class="component" [categori]="arte.name" [text]="arte.text" [url]="arte.image"></app-banner-index>
    </div>
    <div class="row section3">
        <app-cards-index class="component"></app-cards-index>
    </div>



    <!-- contenedor de la informacion de venta y pagos -->
    <div class="row informacion">
        <app-information class="component"></app-information>
    </div>


    <div class="row footer">
        <app-footer class="component"></app-footer>
    </div>
</div>