<div class="container-fluid">
    <div class="row">
        <div class="contenedor">
            <div class="cards">
                <img src="assets/img/index/fondo-tarjetas.png" alt="">
                <div class="contain">
                    <div class="content">
                        <div class="text">
                            <h5 class="title">Tarjetas de regalo</h5>
                            <p class="">Regala el poder de elegir lo que quieran en el vasto universo de Fuera del Molde.</p>
                        </div>
                        <div class="image">
                            <img src="assets/img/card50.png" alt="">
                        </div>
                    </div>
                    <button class="botton">
                        Comprar una tarjeta de regalo
                        <span class="material-icons notranslate">
                            chevron_right
                            </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="contenedor">
            <div class="orders">
                <img src="assets/img/index/fondo-pedidos.png" alt="">
                <div class="contain">
                    <div class="content">
                        <div class="text">
                            <h5 class="title">Pedidos al por mayor</h5>
                            <p class="">A partir de 100 unidades en cualquier artículo, tu compra aplicará a distintos cupones de descuento por volumen.</p>
                        </div>
                        <button class="botton">
                            Más información
                            <span class="material-icons notranslate">
                                chevron_right
                                </span>
                        </button>
                    </div>
                    <div class="image">
                        <img src="assets/img/index/mayoristas.png" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>