<div class="container-fluid">
    <!-- contenedor de las tarjetas -->
    <div class="row">
        <!-- contenedor de la tarjeta -->
        <div class="contenedor">
            <!-- tarjeta de tarjetas de regalo -->
            <div class="cards">
                <!-- imagen de fonto -->
                <img src="assets/img/index/fondo-tarjetas.png" alt="">
                <!-- contenedor de la información de la tarjeta -->
                <div class="contain">
                    <!-- contenedor de los textos y la imagen -->
                    <div class="content">
                        <!-- contenedor de los textos -->
                        <div class="text">
                            <h5 class="title">Tarjetas de regalo</h5>
                            <p class="texto">Regala el poder de elegir lo que quieran en el vasto universo de Fuera del Molde.</p>
                        </div>
                        <!-- contenedor de la imagen -->
                        <div class="image">
                            <img src="assets/img/card50.png" alt="">
                        </div>
                    </div>
                    <!-- botón de la tarjeta -->
                    <button class="botton" [routerLink]="['/gift-cards']">
                        Comprar una tarjeta de regalo
                        <!-- icono del botón -->
                        <span class="material-icons notranslate">
                            chevron_right
                            </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- contenedor de la tarjeta -->
        <div class="contenedor">
            <!-- tarjeta de pedido al por mayor -->
            <div class="orders">
                <!-- imagen de fondo -->
                <img src="assets/img/index/fondo-pedidos.png" alt="">
                <!-- contenedor de la información de la tarjeta -->
                <div class="contain">
                    <!-- contenedor de los textos y el botón -->
                    <div class="content">
                        <!-- contenedor de los textos -->
                        <div class="text">
                            <h5 class="title">Pedidos al por mayor</h5>
                            <p class="texto">A partir de 100 unidades en cualquier artículo, tu compra aplicará a distintos cupones de descuento por volumen.</p>
                        </div>
                        <!-- botón de la tarjeta -->
                        <button class="botton">
                            Más información
                            <!-- icono del botón -->
                            <span class="material-icons notranslate">
                                chevron_right
                                </span>
                        </button>
                    </div>
                    <!-- contenedor de la imagen -->
                    <div class="image">
                        <img src="assets/img/index/mayoristas.png" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>